<template>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card card-w-title">
        <h1>
          <Button icon="pi pi-arrow-left" class="p-button-secondary" @click="$inertia.visit($route('brand.index'))" />

          {{ brand.name }} - Brand Type
        </h1>

        <DataTable
          :value="brand_types"
          class="p-datatable-responsive p-datatable-no-strip p-datatable-complex"
          dataKey="id"
          :paginator="true"
          :rows="limit"
          :sortField.sync="sort.by"
          :sortOrder.sync="sort.dir"
          @sort="onTableSort"
          :loading="isTableLoading"
          paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
          :rowsPerPageOptions="[25,50,100]"
          :currentPageReportTemplate="`Total records: ${total_records}`"
          :totalRecords="total_records"
          @page="onTablePaginating"
          :first="offset"
        >

          <template #header>
            <div class="p-grid p-datatable-header-filter">
              <div class="p-col-3">
                <span class="form-table-filter">
                  <span class="label">Global search</span>
                  <InputText v-model="filtersGlobal" @keyup.enter="filters = { ...filters, global: filtersGlobal}" placeholder="Search brand, hit [Enter]" />
                </span>
              </div>
              <div class="p-col-2">
                <span class="form-table-filter">
                  <span class="label">Filter by status</span>
                  <Dropdown v-model="filters.status" :options="[{id: 1, name: 'Active'}, {id: 0, name: 'Inactive'}]" optionValue="id" optionLabel="name" placeholder="Select status" showClear />
                </span>
              </div>
              <div class="p-col-3 p-offset-4 text-right action">
                <Button label="New Brand Type" icon="pi pi-plus" class="p-button-success" v-if="can['create.brand_type']" @click.prevent="onAddClick" />
              </div>
            </div>
          </template>

          <template #empty>
              <div style="text-align: center;">No records found.</div>
          </template>
          <template #loading>
              Please wait ...
          </template>

          <Column field="id" header="ID" :sortable="true" headerStyle="width: 8em;">
            <template #body="slotProps">
              {{slotProps.data.id}}
            </template>
          </Column>
          <Column field="name" header="Name" :sortable="true">
            <template #body="slotProps">
              {{slotProps.data.name}}
            </template>
          </Column>
          <Column field="status" header="Status" :sortable="true"  headerStyle="width: 10em;">
            <template #body="slotProps">
              <span class="badge badge-success" v-if="slotProps.data.status === 1">Active</span>
              <span class="badge badge-danger" v-if="slotProps.data.status === 0">Inactive</span>
            </template>
          </Column>
          <Column field="updated_at" header="Last modified at" :sortable="true" filterMatchMode="contains" headerStyle="width: 12em;">
            <template #body="slotProps">
              {{slotProps.data.last_modified_at}}
            </template>
          </Column>
          <Column headerStyle="width: 6em; text-align: center" bodyStyle="text-align: right">
            <template #header>

            </template>
            <template #body="slotProps">
              <Button type="button" icon="pi pi-pencil" @click="onEditClick(slotProps.data)"/>
            </template>
          </Column>
        </DataTable>
      </div>
    </div>


    <Dialog :header="formBrandType.id ? 'Edit Brand Type' : 'New Brand Type'" :visible.sync="isBrandFormModalVisible" :style="{width: '30em'}" :modal="true" :contentStyle="{overflow: 'visible'}">
      <form method="post" class="form-user" @submit.prevent="onFormBrandSubmit">
        <span class="form-group" v-if="formBrandType.id">
          <div class="text-label">ID</div>
          <InputText type="text" v-model="formBrandType.id" readonly style="width: 40%;" />
        </span>

        <span class="form-group">
          <div class="text-label">Name</div>
          <InputText type="text" v-model="formBrandType.name" style="width: 100%;" />
        </span>

        <div class="status">
          <div class="text-label">Status</div>
          <ToggleButton
            v-model="formBrandType.active"
            onLabel="Active"
            offLabel="Inactive"
            onIcon="pi pi-check"
            offIcon="pi pi-times"
            style="width: 10em"
          />
        </div>
      </form>

      <template #footer>
        <Button icon="pi pi-trash" class="p-button-danger" @click="onFormBrandDelete" v-show="can['delete.brand_type'] && (!!formBrandType.id && !(formBrandType.id === 1))" style="float: left;" />
        <Button label="Cancel" @click="isBrandFormModalVisible = false" class="p-button-secondary" v-if="can['edit.brand_type']" />
        <Button :label="formBrandType.id ? 'Save' : 'Create'" :class="{ 'p-button-success' : !formBrandType.id }" icon="pi pi-check" @click="onFormBrandSubmit"  v-if="can['edit.brand_type']" />
      </template>
    </Dialog>

  </div>
</template>

<script>
import AppLayout from '@/Shared/AppLayout'

const DEFAULT_TABLE_QUERY = {
  filter: {},
  sort: {
    by: 'id',
    dir: -1
  },
  limit: 25,
  page: 1,
  offset: 0
}

const DEFAULT_FORM_BRAND_TYPE_FIELD = {
  id: null,
  name: null,
  active: true,
  status: 1
}

export default {
  metaInfo: { title: 'Brand Type' },
  layout: AppLayout,
  props: {
    can: Object,
    brand: Object,
    brand_types: Array,
    total_records: Number,
    page_filters: Object,
    page_sort: Object,
    page_limit: Number,
    page_offset: Number,
    errors: Object,
  },
  mounted() {
    this.$nextTick(() => {
      DEFAULT_FORM_BRAND_TYPE_FIELD.brand_id = this.brand.id

      if (this.page_filters) {
        this.filters = {...this.page_filters}
        this.filtersGlobal = this.filters.global
      } else {
        this.filters = {}
      }
      const sort = this.page_sort

      if (sort) {
        sort.dir = parseInt(sort.dir, 10)
      }

      this.sort = sort || { by: null, dir: null }

      this.offset = parseInt(this.page_offset, 10) || 0
      this.limit = parseInt(this.page_limit, 10) || 25
    })
  },
  data() {
    return {
      filters: {},
      filtersGlobal: null,
      sort: {
        by: null,
        dir: null
      },
      offset: null,
      limit: null,
      isTableLoading: false,
      formBrandType: {},
      isBrandFormModalVisible: false
    }
  },
  watch: {
    filters: {
      deep: true,
      handler(n) {
        const o = {...this.page_filters}

        if ((n && !o) || (n.global !== o.global || n.status !== o.status)) {
          this.onFilterGlobal()
        }
      }
    }
  },
  methods: {
    getQuery() {
      let sort = this.sort.by ? this.sort : null

      if (sort && JSON.stringify(sort) === JSON.stringify(DEFAULT_TABLE_QUERY.sort)) {
        sort = null
      }

      let filter = {
        ...this.filters
      }

      if (typeof filter.global !== 'undefined' && !filter.global) {
        delete filter.global
      }

      if (typeof filter.status !== 'undefined' && typeof filter.status !== 'number') {
        delete filter.status
      }

      if (typeof filter.dealer !== 'undefined' && !filter.dealer) {
        delete filter.dealer
      } else if (filter.dealer && filter.dealer.id) {
        filter.dealer = filter.dealer.id
      }

      if (!filter || JSON.stringify(filter) === JSON.stringify(DEFAULT_TABLE_QUERY.filter) || !Object.keys(filter).length) {
        filter = null
      }

      let offset = this.page_offset == this.offset ? null : this.offset

      let limit = this.page_limit == this.limit ? null : this.limit


      let query = {
        brandId: this.brand.id
      }

      if (filter) {
        query.filter = filter
      }

      if (sort) {
        query.sort = sort
      }

      if (limit && limit != DEFAULT_TABLE_QUERY.limit) {
        query.limit = limit
      }

      if (offset && offset != DEFAULT_TABLE_QUERY.offset) {
        query.offset = offset
      }

      return query
    },
    async loadTable() {
      this.isTableLoading = true
      const query = this.getQuery()

      await this.$inertia.visit(this.$route(this.route().current(), query))

      this.fieldRegistrationId = null
      this.isRegistrationConfirmDialogVisible = false
      this.isTableLoading = false
    },
    async onFilterGlobal() {
      this.loadTable()
    },
    async onTableSort(e) {
      const sort = {
        by: e.sortField,
        dir: e.sortOrder
      }

      this.sort = sort

      await this.loadTable()
    },
    async onTablePaginating(e) {
      this.limit = e.rows
      this.offset = e.first

      await this.loadTable()
    },
    onAddClick() {
      this.formBrandType = DEFAULT_FORM_BRAND_TYPE_FIELD

      this.isBrandFormModalVisible = true
    },
    onEditClick(brandType) {
      this.formBrandType = DEFAULT_FORM_BRAND_TYPE_FIELD
      this.formBrandType = { ...brandType }

      this.isBrandFormModalVisible = true
    },
    async onFormBrandSubmit(e) {
      this.isTableLoading = true
      let { id, active, status, name } = this.formBrandType
      this.$parent.showLoading()

      const payload = {
        name,
        status: active ? 1 : 0
      }

      if (id) {
        await this.$inertia.patch(this.route('brand-type.update', { brandId: this.brand.id, id }), payload)
      } else {
        if (!payload.name) {
          this.$toast.add({
            severity: 'error',
            summary: `Please set brand type name`,
            life: 3000
          })

          return
        }

        await this.$inertia.post(this.route('brand-type.store', { brandId: this.brand.id }), payload)
      }
      this.$parent.hideLoading()

      this.isTableLoading = false
      this.isBrandFormModalVisible = false
      this.formBrandType = DEFAULT_FORM_BRAND_TYPE_FIELD
    },
    async onFormBrandDelete(e) {
      const confirmed = await this.$root.confirmDelete(`Are you sure want to delete this brand type: ${this.formBrandType.name}?`)

      if (!confirmed) {
        return
      }

      await new Promise((resolve) => {
        this.$nextTick(() => {
          resolve()
        })
      })

      this.isTableLoading = true

      this.$parent.showLoading()
      await this.$inertia.delete(this.route('brand-type.destroy', { brandId: this.brand.id, id: this.formBrandType.id }))
      this.$parent.hideLoading()

      this.isTableLoading = false
      this.isBrandFormModalVisible = false
    }
  }
}
</script>
