@import "Auth/Index";
@import "JadwalDokter/Index";
@import "Users/Index";
@import "Monitor/Index";

.layout-wrapper {
  background-color: inherit;
}

.form-group {
  width: 100%;
  display: block;
  margin-bottom: 0.75em;

  .form-control {
    width: 100%;
  }
}

body .tree-ruangan-scrollable .p-tree {
  .p-tree-container {
    max-height: 70vh;
  }
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.list-style-none {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    > a {
      padding: 0.5em 0.75em;
      box-shadow: 1px 1px 1px #d6d6d6;
      width: 100%;
      background-color: #fbfbfb;
      border-bottom: 1px solid #f1f1f1;
      font-size: 1.25em;
      display: flex;
      justify-content: space-around;
      margin-right: auto;
    }

    &:first-child {
      > a {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &:last-child {
      > a {
        border-bottom: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    &.active {
      > a {
        background-color: #007ad9;
        color: #fff;
      }
    }
  }
}

.grid-toolbar-datatable {
  .small-label {
    font-size: small;
    font-weight: lighter;
    display: block;
    color: #666;
    margin-bottom: 1px;
  }
  .p-inputtext,
  .p-calendar {
    width: 100%;
  }
}


.page-assignment {
  .p-dialog .p-dialog-header {
  }
}
