.page-users {
  .group-sidebar {
    width: 32em;

    > .content {
      padding-top: 65px;
      height: 100%;

      > .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;
      }

      .p-toolbar-group-left {
        > .p-button-secondary {
          border: none;
          &:hover,
          &:focus,
          &:active {
            background-color: inherit;
            outline: 0;
            border: none;
            box-shadow: none;
          }
        }
      }
    }

    .p-inplace {
      display: flex;
      align-items: center;

      > .p-inplace-content {
        display: flex;
        align-items: center;

        > .p-inputtext {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        > .p-button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;

          > .p-button-icon-left {
            margin-left: -.6em;
          }
        }
      }
    }
  }

  .form-user {
    .form-group {
      display: block;
    }
  }

  .form-group {
    display: flex;
    padding-top: 0.5em;

    > .group-name {
      width: 75%;

      > .p-inputtext {
        width: 90%;
      }
    }
  }
}
