// Variables
@import "variables";

@import "~nprogress/nprogress.css";

#nprogress .bar {
  height: 5px;
  background-color: #a25694;
}

// @import "~primevue/resources/themes/nova-dark/theme.css";
@import "~primevue/resources/themes/saga-blue/theme.css";
// @import "~primevue/resources/themes/nova-light/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";
// @import "~prismjs/themes/prism-coy.css";
@import "~vue2-timepicker/dist/VueTimepicker.css";

.p-component {
  font-family: $font-family-sans-serif;
}

@import "Shared/All";
@import "Pages/All";
