.AuthLayout {
  height: 100%;

  > body {
    height: 100%;
  }
}

.auth-layout {
  height: 100%;

  > .layout-main {
    height: inherit;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
  }
}

.page-auth-login {
  text-align: center;

  > .wrapper {
    margin: 0 auto;
  }
}
