<template>
  <div class="p-grid page-users">
    <div class="p-col-12">
      <div class="card card-w-title">
        <h1>Users</h1>

        <div class="p-card">
          <div class="p-card-body" style="padding: 0;">
            <DataTable :value="users" class="p-datatable-responsive p-datatable-no-strip" dataKey="id" :paginator="true" :rows="20">
              <template #header>
                <Button label="New User" class="p-button-success" v-if="can['create.users']" @click.prevent="onUserAddClick" />
                <Button label="Roles" icon="pi pi-arrow-right" iconPos="right" @click="isRolesDialogVisible = !isRolesDialogVisible" style="margin-left: 0.5em;" v-if="can['create.role'] || can['edit.role'] || can['delete.role']" />

                <div class="p-datatable-globalfilter-container">
                    <InputText v-model="filters['global']" placeholder="Global Search" size="50" />
                </div>
              </template>

              <Column field="id" header="ID" :sortable="true" headerStyle="width: 8em">
                <template #body="slotProps">
                  {{slotProps.data.id}}
                </template>
              </Column>
              <Column field="username" header="Username" :sortable="true" filterMatchMode="contains">
                <template #body="slotProps">
                  {{slotProps.data.username}}
                </template>
              </Column>
              <Column field="name" header="Name" :sortable="true" filterMatchMode="contains">
                <template #body="slotProps">
                  {{slotProps.data.name}}
                </template>
              </Column>
              <Column field="role.name" header="Role" sortField="role.name" filterField="role.name" filterMatchMode="contains" :sortable="true">
              </Column>
              <Column field="locations" header="Location" :sortable="true">
                <template #body="slotProps">
                  {{slotProps.data.locations ? slotProps.data.locations.name : ''}}
                </template>
              </Column>
              <Column field="status" header="Status" :sortable="true" filterMatchMode="equals">
                <template #body="slotProps">
                  <span class="badge badge-success" v-if="slotProps.data.status === 1">Active</span>
                  <span class="badge badge-danger" v-if="slotProps.data.status === 0">Inactive</span>
                </template>
              </Column>
              <Column headerStyle="width: 18em; text-align: center" bodyStyle="text-align: center">
                <template #header>

                </template>
                <template #body="slotProps">
                  <Button icon="pi pi-lock" label="Change Password" class="p-button-info" @click.prevent="onUserPasswordEditClick(slotProps.data)" />
                  <Button icon="pi pi-pencil" @click.prevent="onUserEditClick(slotProps.data)" />
                </template>
              </Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>

    <Dialog :header="formUser.id ? 'Edit User' : 'New User'" :visible.sync="isUserFormModalVisible" :style="{width: '30em'}" :modal="true" :contentStyle="{overflow: 'visible'}">
      <form method="post" class="form-user" @submit.prevent="onFormUserSubmit">
        <span class="form-group" v-if="formUser.id">
          <div class="text-label">ID</div>
          <InputText type="text" v-model="formUser.id" readonly style="width: 40%;" />
        </span>

        <span class="form-group">
          <div class="text-label">Name</div>
          <InputText type="text" v-model="formUser.name" style="width: 100%;" />
        </span>

        <span class="form-group">
          <div class="text-label">Username *</div>
          <InputText type="text" v-model="formUser.username" required />
        </span>

        <span class="form-group" v-if="!formUser.id">
          <div class="text-label">Password *</div>
          <InputText type="password" v-model="formUser.password" autocomplete="off" required />
        </span>

        <span class="form-group" v-if="!formUser.id">
          <div class="text-label">Confirm Password *</div>
          <InputText type="password" v-model="formUser.password_confirmation" autocomplete="off" required />
        </span>

        <div class="form-group">
          <div class="text-label">Role</div>
          <SelectButton v-model="formUser.role_id" :options="roles" dataKey="id" optionValue="id" optionLabel="name" :disabled="!can['edit.users']" />
        </div>

        <span class="form-group">
          <div class="text-label">Location</div>
          <Dropdown v-model="formUser.locations" :options="locations"  optionLabel="name" placeholder="Select a location" style="width: 15em" />
        </span>

        <div class="status">
          <div class="text-label">Status</div>
          <ToggleButton
            v-model="formUser.active"
            onLabel="Active"
            offLabel="Inactive"
            onIcon="pi pi-check"
            offIcon="pi pi-times"
            style="width: 10em"
          />
        </div>
      </form>

      <template #footer>
        <Button icon="pi pi-trash" class="p-button-danger" @click="onFormUserDelete" v-show="can['delete.users'] && (!!formUser.id && !(formUser.id === 1))" style="float: left;" />
        <Button label="Cancel" @click="isUserFormModalVisible = false" class="p-button-secondary" v-if="can['edit.users']" />
        <Button :label="formUser.id ? 'Save' : 'Create'" :class="{ 'p-button-success' : !formUser.id }" icon="pi pi-check" @click="onFormUserSubmit"  v-if="can['edit.users']" />
      </template>
    </Dialog>

    <Dialog :header="`Change Password: ${formUser.username}`" :visible.sync="isUserPasswordFormModalVisible" :style="{width: '30em'}" :modal="true" :contentStyle="{overflow: 'visible'}">
      <form method="post" class="form-user" @submit.prevent="onFormUserSubmit">
        <span class="form-group">
          <div class="text-label">Password</div>
          <InputText type="password" v-model="formUser.password" autocomplete="off" required />
        </span>

        <span class="form-group">
          <div class="text-label">Confirm Password</div>
          <InputText type="password" v-model="formUser.password_confirmation" autocomplete="off" required />
        </span>
      </form>

      <template #footer>
        <Button label="Cancel" @click="isUserPasswordFormModalVisible = false" class="p-button-secondary" v-if="can['edit.users']" />
        <Button label="Submit" icon="pi pi-check" @click="onFormUserSubmit"  v-if="can['edit.users']" />
      </template>
    </Dialog>

    <Dialog :header="formRole.id ? 'Edit Role' : 'New Role'" :visible.sync="isRoleFormModalVisible" :style="{width: '30em'}" :modal="true">
      <form method="post" class="form-user" :action="$route('role.store')" @submit.prevent="onFormRoleSubmit">
        <span class="form-group" v-if="formRole.id">
          <div class="text-label">ID</div>
          <InputText type="text" v-model="formRole.id" readonly />
        </span>

        <span class="role-name">
          <div class="text-label">Name</div>
          <InputText type="text" v-model="formRole.name" />
        </span>

        <div class="status" style="margin-top: 1em;">
          <div class="text-label">Status</div>
          <ToggleButton
            v-model="formRole.active"
            onLabel="Active"
            offLabel="Inactive"
            onIcon="pi pi-check"
            offIcon="pi pi-times"
            :disabled="formRole.key === 'admin'"
            style="width: 10em"
          />
        </div>
      </form>

      <template #footer>
        <Button icon="pi pi-trash" class="p-button-danger" @click="onFormRoleDelete" v-show="can['delete.role'] && (!formRole.key || (!!formRole.key && !(formRole.key === 'admin' || formRole.key === 'assistant')))" style="float: left;" />
        <Button label="Cancel" @click="isRoleFormModalVisible = false" class="p-button-secondary"/>
        <Button :label="formRole.id ? 'Save' : 'Create'" icon="pi pi-check" @click="onFormRoleSubmit" v-if="can['create.role'] || can['edit.role']" />
      </template>
    </Dialog>

    <Dialog :header="`Role Access: ${role ? role.name : ''}`" :visible.sync="isRolePermissionFormModalVisible" :style="{width: '40em'}" :modal="true">
      <form method="post" class="form-group flex-column"  @submit.prevent="onFormRolePermissionSubmit">
        <div v-for="(perm, index) in permissions" :key="index" style="display: block;">
          <h3 style="margin-bottom: 10px;">{{ index }}</h3>

          <div class="form-group" v-for="p in perm" :key="p.id" style="padding: 10px 10px; background-color: #fafafa; border-radius: 3px;">
            <Checkbox :id="`rolePenggunaPermissionModal${p.id}`" v-model="role_permission" :value="p.id" v-show="can['edit.permission']" :disabled="!(role_permission && role_permission.length && role_permission.includes(1)) && p.id !== 1" />
            <label :for="`rolePenggunaPermissionModal${p.id}`" class="p-checkbox-label" style="margin-left: 1em;">{{ p.name }}</label>
            <i class="pi pi-check" v-show="!can['edit.permission'] && role_permission.includes(p.id)" style="margin-left: 10px;"></i>
          </div>
        </div>
      </form>

      <template #footer>
        <Button label="Cancel" @click="isRolePermissionFormModalVisible = false" v-if="can['edit.permission']" class="p-button-secondary"/>
        <Button label="Save" icon="pi pi-check" @click="onFormRolePermissionSubmit" v-if="can['edit.permission']" />
      </template>
    </Dialog>

    <Dialog :visible.sync="isRolesDialogVisible" class="role-dialog" :modal="true" :style="{width: '40vw'}" :dismissable="false">
      <template #header>
        <span>Roles</span>

        <div class="actions">
          <Button label="New Role" class="p-button-success"  @click="onRoleAddClick" v-if="can['create.role']" />
          <!-- <Button icon="pi pi-times" style="color: #717171;" class="p-button-secondary" @click.prevent="isRolesDialogVisible = false" /> -->
        </div>
      </template>

      <DataTable :value="roles" class="p-datatable-responsive p-datatable-no-strip" dataKey="id" :paginator="false">
        <Column field="id" header="ID" :sortable="true" headerStyle="width: 6em">
          <template #body="slotProps">
            {{slotProps.data.id}}
          </template>
        </Column>
        <Column field="name" header="Name" :sortable="true">
          <template #body="slotProps">
            {{slotProps.data.name}}
          </template>
        </Column>
        <Column field="status" header="Status" :sortable="true" headerStyle="width: 8em">
          <template #body="slotProps">
            <span class="badge badge-success" v-if="slotProps.data.status === 1">Active</span>
            <span class="badge badge-danger" v-if="slotProps.data.status === 0">Inactive</span>
          </template>
        </Column>
        <Column headerStyle="width: 18em; text-align: right" bodyStyle="text-align: right">
          <template #header>

          </template>
          <template #body="slotProps">
            <Button label="Permissions" class="p-button-info" @click.prevent="onRolePermissionClick(slotProps.data)" v-if="can['edit.role'] || can['delete.role']" />
            <Button icon="pi pi-pencil" @click.prevent="onRoleEditClick(slotProps.data)" />
          </template>
        </Column>
      </DataTable>
    </Dialog>
  </div>
</template>

<script>
import AppLayout from '@/Shared/AppLayout'

const DEFAULT_FORM_ROLE_FIELD = {
  id: null,
  key: null,
  name: null,
  active: true,
  status: 1
}

const DEFAULT_FORM_USER_FIELD = {
  id: null,
  key: null,
  username: null,
  password: null,
  password_confirmation: null,
  role_id: 1,
  locations: null,
  status: 1,
  active: true,
}

export default {
  metaInfo: { title: 'Users' },
  layout: AppLayout,
  props: {
    can: Object,
    users: Array,
    locations: Array,
    roles: Array,
    errors: Object,
  },
  data() {
    return {
      isUserFormModalVisible: false,
      isUserPasswordFormModalVisible: false,
      isRoleFormModalVisible: false,
      isRolesDialogVisible: false,
      isFormRoleSubmitting: false,
      formRole: DEFAULT_FORM_ROLE_FIELD,
      formUser: DEFAULT_FORM_USER_FIELD,
      filters: {},
      sortKey: null,
      sortOrder: null,
      sortField: null,
      sortOptions: [
        {label: 'Newest First', value: '!year'},
        {label: 'Oldest First', value: 'year'},
        {label: 'Brand', value: 'brand'}
      ],
      isRolePermissionFormModalVisible: false,
      permissions: [],
      role_permission: [],
      role: null
    }
  },
  watch: {
    role_permission: {
      deep: true,
      handler(n) {
        if (n && n.length && !n.includes(1)) {
          this.role_permission = []
        }
      }
    }
  },
  computed: {
    fieldUserModalRoleIsOperator() {
      return this.fieldUserModalRole && this.fieldUserModalRole.key === 'operator'
    }
  },
  methods: {
    onUserAddClick() {
      this.formUser = DEFAULT_FORM_USER_FIELD

      this.isUserFormModalVisible = true
    },
    onUserEditClick(user) {
      this.formUser = { ...DEFAULT_FORM_USER_FIELD, ...user }

      this.isUserFormModalVisible = true
    },
    onUserPasswordEditClick(user) {
      this.formUser = { ...DEFAULT_FORM_USER_FIELD, ...user }

      this.isUserPasswordFormModalVisible = true
    },
    async onFormUserSubmit(e) {
      this.isFormUserSubmitting = true
      let { id, username, role_id, active, status, name, locations } = this.formUser
      this.$parent.showLoading()

      const payload = {
        name,
        username,
        role_id,
        status: active ? 1 : 0
      }

      if (locations) {
        payload.locations = [locations.id]
      }

      if (id) {
        await this.$inertia.patch(this.route('users.update', { id }), payload)
      } else {
        if (this.formUser.password !== this.formUser.password_confirmation) {
          this.$toast.add({
            severity: 'error',
            summary: `Password confirmation doesn't match`,
            life: 3000
          })

          return
        }
        if (!payload.role_id) {
          this.$toast.add({
            severity: 'error',
            summary: `Please select a role`,
            life: 3000
          })

          return
        }

        payload.password = this.formUser.password
        payload.password_confirmation = this.formUser.password_confirmation

        await this.$inertia.post(this.route('users.store'), payload)
      }
      this.$parent.hideLoading()

      this.isFormUserSubmitting = false
      this.isUserFormModalVisible = false
      this.isUserPasswordFormModalVisible = false
      this.formUser = DEFAULT_FORM_USER_FIELD
    },
    async onFormUserDelete(e) {
      const confirmed = await this.$root.confirmDelete(`Are you sure want to delete this user: ${this.formUser.name}?`)

      if (!confirmed) {
        return
      }

      await new Promise((resolve) => {
        this.$nextTick(() => {
          resolve()
        })
      })

      this.isFormUserSubmitting = true

      this.$parent.showLoading()
      await this.$inertia.delete(this.route('users.destroy', { id: this.formUser.id }))
      this.$parent.hideLoading()

      this.isFormUserSubmitting = false
      this.isUserFormModalVisible = false
    },
    onRoleAddClick() {
      this.formRole = DEFAULT_FORM_ROLE_FIELD
      this.isRoleFormModalVisible = true
    },
    onRoleEditClick(role) {
      this.formRole = DEFAULT_FORM_ROLE_FIELD
      this.formRole = { ...role }

      this.isRoleFormModalVisible = true
    },
    async onFormRoleSubmit(e) {
      this.isFormRoleSubmitting = true
      let { id, active, status, name } = this.formRole

      const payload = {
        name,
        status: active ? 1 : 0
      }

      this.$parent.showLoading()
      if (id) {
        await this.$inertia.patch(this.route('role.update', { id }), payload)
      } else {
        await this.$inertia.post(this.route('role.store'), payload)
      }
      this.$parent.hideLoading()

      this.isFormRoleSubmitting = false
      this.isRoleFormModalVisible = false
      this.formRole = DEFAULT_FORM_ROLE_FIELD
    },
    async onFormRoleDelete(e) {
      const confirmed = await this.$root.confirmDelete(`Are you sure want to delete this role: ${this.formRole.name}?`)

      if (!confirmed) {
        return
      }

      await new Promise((resolve) => {
        this.$nextTick(() => {
          resolve()
        })
      })

      this.isFormRoleSubmitting = true

      this.$parent.showLoading()
      await this.$inertia.delete(this.route('role.destroy', { id: this.formRole.id }))
      this.$parent.hideLoading()
      this.isFormRoleSubmitting = false
      this.isRoleFormModalVisible = false
    },
    async onRolePermissionClick(role) {
      let { data } = await axios.get(this.$route('role-permission.edit', { id: role.id }))
      const { permissions, role_permission } = data

      this.role = {
        id: role.id,
        name: role.name
      }
      this.permissions = permissions
      this.role_permission = role_permission

      this.isRolePermissionFormModalVisible = true
    },
    async onFormRolePermissionSubmit() {
      this.$parent.showLoading()
      await this.$inertia.patch(this.$route('role-permission.update', { id: this.role.id }), {
        role_permission: this.role_permission
      })

      this.isRolePermissionFormModalVisible = false
      this.role = null
      this.role_permission = []
      this.permissions = []
      this.$parent.hideLoading()
    },
  }
}
</script>
