@import "./_mixins";
@import "./_transitions";
@import "./_card";
@import "./_splash";
@import "./_media";
@import "./_toolbar";
@import "./_main";
@import "./_topbar";
@import "./_sidebar";
@import "./_profile";
@import "./_menu";
@import "./_content";
@import "./_footer";
@import "./_responsive";
@import "./_utils";
@import "./_dashboard";
@import "./_datatable";
@import "./_ios-select";
@import "./_monitor-view";
@import "./_kiosk-view";

.p-toast.p-toast-topright {
  z-index: 1000;
  top: 70px;
}

.p-fileupload-files {
  width: 100%;

  > .p-fileupload-row {
    display: flex;
    width: 100%;
    align-items: center;

    > div {
      &:first-child {
        flex: 1;
      }
    }
  }
}

.p-datatable .p-datatable-tbody > tr > td.p-cell-editing .p-component.p-spinner-button {
  width: 2em;
}

body .grid-day .p-tabview .p-tabview-panels {
  padding: 0;
}

.grid-day {
  .p-tabview-nav {
    .pi-circle-on {
      position: absolute;
      top: -5px;
      right: -3px;
      color: #34d052;
    }
  }
}

.btn-block {
  display: block;
  width: 100%;
}

body .p-button.p-button-info, body .p-buttonset.p-button-info > .p-button {
  background-color: #42b4f9;
  border-color: #42b4f9;
}
body .p-button.p-button-info:enabled:hover, body .p-buttonset.p-button-info > .p-button:enabled:hover {
  background-color: #48a9e6;
  border-color: #48a9e6;
}
body {
  .p-button {
    &.p-button-white, &.p-buttonset.p-button-white > .p-button {
      background-color: #fff;
      border-color: #f7f7f7;
      color: #333;

      &:enabled:hover {
        background-color: #dadada;
        border-color: #dadada;
        color: inherit;
      }

      &.btn-call.is-speaking {
        background-color: #565050;
        border-color: #f7f7f7;
        color: #fff;
      }
    }
  }
}

body {
  .panel-ticket-grid {
    .p-panel-content {
      position: relative;

      .p-progressbar {
        height: 0.25em;
        position: absolute;
        top: -4px;
        width: 100%;
        left: 0;
      }
    }
  }
}

body {
  .page-users,
  .page-assignment {
    .role-dialog {
      .p-dialog-header {
        display: flex;
        align-items: center;

        > span {
          font-size: 1.25em;

          &.badge {
            font-size: 1em;
            margin-left: 1em;
          }
        }

        > .actions {
          margin-left: auto;
        }

        > .p-dialog-header-icons {
          // display: none;
        }
      }

      .p-dialog-content {
        padding: 0;
      }

      .p-paginator {
        text-align: right;
        background-color: inherit;
      }
    }
  }
}

.global-block-ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.07);

  .p-progress-spinner-circle {
    fill: transparent;
  }

  .p-blockui {
    background-color: transparent !important;
  }
}

body {
  .p-datepicker {
    table td > span.p-highlight {
      margin: 0.5em;
    }

    select.p-datepicker-month,
    select.p-datepicker-year {
      background-color: #fff;
      padding: 0.5em 1em;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
  }
  .p-datepicker-touch-ui,
  .p-calendar .p-datepicker-touch-ui {
    min-width: 56vw;

    &.p-datepicker {
      td {
        span,
        a {
          padding-top: 1.25em;
          padding-bottom: 1.25em;
        }
      }
    }

    &.p-datepicker-monthpicker {
      min-width: 27vw;
    }
  }
  .p-datepicker-bottom-done {
    padding: 2em 0 0.5em;

    .p-button {
      padding: 0.35em 4em;
    }
    .p-button-primary {
      float: right;
    }
    .p-button-secondary {
      float: left;
    }
  }
}

.img {
  max-width: 100%;
  min-height: 1px;
}

body {
  .page-assignment {
    .assignment-input-dialog {
      .p-dialog-header {
        display: flex;
        align-items: center;

        > span {
          font-size: 1.25em;

          &.badge {
            font-size: 1em;
            margin-left: 1em;
          }
        }

        > .actions {
          margin-left: auto;
        }

        // > .p-dialog-header-icons {
        //   display: none;
        // }
      }

      .data-grid {
        .sep {
          width: 1px;
        }
      }
      .photo-grid {
        display: flex;
        justify-content: space-between;

        > .p-col-6 {
          width: 45%;
        }
      }
    }
  }
}
