body {
  .p-column-filter {
    margin-top: 1em;
  }

  .p-dropdown-car-option {
    display: flex;
    align-items: center;
    text-align: left;

    img {
      margin-right: .5em;
      width: 24px;
    }

    span {
      margin-top: .125em;
    }
  }

  .p-datatable-globalfilter-container {
    float: right;

    input {
      width: 250px;
    }
  }

  .p-datatable.p-datatable-no-strip {
    .p-datatable-wrapper {
      border-top: 1px solid #ddd;
    }
    .p-datatable-header {
      border: 0 none;
      padding: 1em 0.5em;
      text-align: left;
      font-size: 20px;
    }

    .p-paginator {
      border: 0 none;
      padding: 1em;
    }

    .p-datatable-thead > tr > th {
      border: 0 none;
      text-align: left;
    }

    .p-column-title {
      font-size: 1em;
    }

    .p-datatable-tbody > tr > td {
      border: 0 none;
    }
  }

  .p-datatable-header-filter {
    align-items: center;

    .form-table-filter {
      display: flex;
      flex-direction: column;

      > .label {
        font-size: 0.8rem;
        font-weight: normal;
        display: block;
      }

      .p-calendar .p-inputtext {
        width: 100%;
      }
    }

    .action {
      .p-button {
        padding: 0.25em 1em;
      }
    }
  }
}

.p-datatable-complex .p-paginator {
    .p-dropdown {
        float: left;
    }
    .p-datatable-header {
        border: 0 none;
        padding: 12px;
        text-align: left;
        font-size: 20px;
    }

    .p-paginator {
        border: 0 none;
        padding: 1em;
    }

    .p-datatable-thead > tr > th {
        border: 0 none;
        text-align: left;

        &.p-filter-column {
            border-top: 1px solid #c8c8c8;
        }
    }

    .p-datatable-tbody > tr > td {
        border: 0 none;
        cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
        text-transform: uppercase;
    }
    .p-paginator-current {
        float: right;
    }
}
