$borderColor: #ececec;
.vue-ios-pickers {
  width: 100%;

  .picker-value {
    padding: 0.5em 1em 0.5em 0;
    height: 1.2em;
    position: relative;
    box-sizing: content-box;
    input {
      box-sizing: border-box;
      text-align: right;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 1.2em 0 0;
      border: 0 none;
      font: inherit;
      background: transparent;
    }
    &:after {
      content: '';
      position: absolute;
      right: .2em;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0.7em;
      height: 0.7em;
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      transform: rotateZ(45deg);
    }
  }
  .picker-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .picker-wrapper {
    background-color: #fff;
    color: #333;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1001;
    overflow: hidden;
    transition: all .3s ease;
    font-size: 1.5em;
  }
  .btn-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fff;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
  .btn {
    text-decoration: none;
    color: #0575f2;
    padding: .6em;
  }
  .data-box {
    display: flex;
    position: relative;
    .scroll-mask {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)),
                        linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
      background-position: top, bottom;
      background-size: 100% 6em;
      background-repeat: no-repeat;
      pointer-events: none;
    }
    .items {
      flex: 1;
      font-size: 1em;
      height: 14em;
      position: relative;
      overflow: hidden;
    }
    .item {
      height: 2em;
      line-height: 2em;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      pointer-events: none;
    }
    .border {
      height: 2em;
      width: 100%;
      border-top: 1px solid darken($borderColor, 10%);
      border-bottom: 1px solid darken($borderColor, 10%);
      position: absolute;
      left: 0;
      top: 6em;
      z-index: 2;
      pointer-events: none;
    }
    .scroll {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding-top: 6em;
      padding-bottom: 6em;
      margin-top: 0;
      margin-top: 0;
      list-style: none;
      padding-left: 0;
    }
  }
  .btn-confirm {
    background-color: #0575f2;
    width: 10em;
    text-align: center;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0px 0px 2px 1px rgba(55, 55, 55, 0.65);
  }
  .btn-cancel {
    font-size: 0.9em;
  }
}
