$border-box-width: 8px;

body {
  .app-layout.kiosk-layout {
    > .layout-topbar.monitor-topbar {
      display: none;
    }

    .flash-dialog {
      width: 50vw;

      .p-dialog-titlebar {
        background-color: #fff;
      }

      .p-dialog-content {
        padding-bottom: 1.5em;
        border-top: none;
        border-bottom: none;
      }

      .p-dialog-footer {
        padding: 1.5em;
        text-align: center;

        .p-button {
          width: 14em;
          padding: 0.5em;
          font-size: 1.25em;
          font-weight: bold;
        }
      }
    }
    .flash-dialog-content {
      display: flex;
      flex-direction: column;
      padding: 1em;

      .image {
        max-width: 67%;
        margin: 0 auto;
        margin-bottom: 1em;
      }

      .img {
        max-width: 100%;
      }

      .title {
        margin: 0;
        font-size: 1.75em;
        color: #373737;

      }
      .message {
        margin: 0;
        font-size: 1.25em;
      }
    }

    .p-component-overlay {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.page-kiosk-view {
  button {
    font-family: inherit;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  > .kiosk-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    > .mini-nav {
      height: 4em;
      display: flex;
      align-items: center;
      background-color: #FFCF5C;
      border-radius: $border-box-width;
      margin-bottom: 1rem;
      position: relative;

      > .mini-nav-left {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333333;
        color: #fff;
        border-top-left-radius: $border-box-width;
        border-bottom-left-radius: $border-box-width;
        width: 10%;
        position: absolute;
        left: 0;
        top: 0;

        .back {
          color: inherit;
          font-size: 1.25em;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-family: inherit;

          &:hover,
          &:active,
          &:visited,
          &:focused {
            color: inherit;
            border: none;
            outline: none;
          }

          i {
            font-size: 1em;
            position: relative;
            top: 1px;
            margin-right: 0.5rem;
          }
        }
      }

      > .mini-nav-content {
        flex: 1;
        text-align: center;
        font-size: 1.5em;
      }

      > .mini-nav-right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333333;
        color: #fff;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 10%;
        position: absolute;
        right: 0;
        top: 0;

        &.arrows {
          justify-content: space-between;
          background-color: transparent;

          > .p-button {
            width: 45%;
            height: 100%;

            &.p-arrow-left {
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
            }

            &.p-arrow-right {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }
        }
      }
    }

    > .page-content {
      flex: 1;
      display: flex;
    }
  }

  &.page-kiosk-index {
    > .kiosk-content {
      > .page-content {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > .content-link {
          background-color: #209CF6;
          color: #fff;
          width: 100%;
          flex: 1;
          margin-bottom: 1rem;
          font-size: 3em;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bolder;
          border-radius: $border-box-width;
          border: none;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.page-kiosk-no-antrean-baru {
    > .kiosk-content {
      > .page-content {
        flex-wrap: wrap;

        > .content-link {
          background-color: #209CF6;
          color: #fff;
          font-size: 3em;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bolder;
          border-radius: $border-box-width;
          border: none;
          width: calc(50% - 0.5rem);
          height: calc(50% - 0.5rem);
          margin: 0.25rem;
        }
      }
    }
  }
  &.page-kiosk-ticket-success {
    .page-content {
      background-color: #FFCF5C;
      border-radius: $border-box-width;
      flex-direction: column;
      border: 2px solid #666;
      height: 100%;

      > .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 10%;

        > .title {
          font-size: 2.3em;
        }
      }

      > .content {
        display: flex;
        flex: 1;

        > .content-left,
        > .content-right {
          display: flex;
          padding: 1em;

          > .content-box {
            width: 100%;
            background-color: #F4F4F4;
            border-radius: $border-box-width;
            border: 2px solid #666;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
          }
        }

        > .content-left {
          width: 35%;

          > .content-box {
            > .title {
              font-size: 1.5em;
            }
            > .no {
              font-size: 8em;
            }
          }
        }

        > .content-right {
          flex: 1;

          > .content-box {
            > .title {
              font-size: 3em;
              font-weight: bold;
            }
            > .no {
              font-size: 10em;
              color: #FF647C;
              font-weight: bolder;
            }
            > .text {
              font-size: 1.5em;
            }
          }
        }
      }

      > .bottom {
        display: flex;
        flex-direction: column;
        height: 35%;
        text-align: center;
        align-items: center;
        justify-content: center;

        > .title {
          font-size: 3em;
        }

        > .ruangan {
          font-size: 7em;
          color: #2F64ED;
          font-weight: bolder;
          text-transform: uppercase;
        }

        > .dismiss-message {
          font-style: italic;
        }
      }
    }
  }

  &.page-kiosk-login {
    .page-content {
      flex-direction: column;
      height: 100%;
      padding: 5em 8em;
      position: relative;

      .p-inputtext {
        width: 100%;
        font-size: 3em;
        border-radius: 2em;
        padding-left: 1em;
        padding-right: 1em;

        &:enabled:focus {
          box-shadow: 0 0 0 0.05em #8dcdff;
        }
      }
      .p-float-label label {
        font-size: 2em;
        left: 1em;
      }
      .p-float-label input:focus ~ label,
      .p-float-label input.p-filled ~ label,
      .p-float-label .p-inputwrapper-focus ~ label,
      .p-float-label .p-inputwrapper-filled ~ label {
        top: -1em;
        font-size: 1em;
        left: 3em;
      }
      .form-group {
        margin-bottom: 2.25em;
      }

      .p-button-raised {
        margin: 1.5em auto;
        padding: 0.25em;
        font-size: 2.5em;
        font-weight: bolder;
        width: 12em;
      }
      .vue-touch-keyboard {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10000;
        padding: 1em 1em 3em;
        background-color: #d2d2d2;
        box-shadow: -1px -2px 9px 2px rgba(0, 0, 0, 0.3);

        .keyboard {
          .key {
            height: 3em;
            line-height: 3em;
          }
        }

        &.no_rekam_medis {
          .keyboard {
            max-width: 45%;
            margin: 0 auto;

            .zero {
              max-width: 8.25em;
              margin-right: auto;
              margin-left: 8.75em;
            }
          }
        }
      }
    }
  }


  &.page-kiosk-poliklinik {
    > .kiosk-content {
      > .page-content {
        flex-wrap: wrap;
        align-content: flex-start;

        > .content-link {
          height: calc(25% - 0.5rem);
        }
      }
    }
  }
  &.page-kiosk-poliklinik-dokter {
    > .kiosk-content {
      > .page-content {
        flex-direction: row;
        // flex-wrap: nowrap;

        > .content-link {
          background-color: #fff;
          color: #333;
          text-align: left;
          width: 100%;
          height: calc(25% - 0.5rem);
          cursor: default;
          font-size: 1.5em;
          padding: 0;

          > .dokter {
            font-size: 1.75em;
            flex: 1;
            padding-left: 1em;
          }

          > .jadwals {
            height: 100%;

            > .jadwal {
              text-align: center;
              height: 100%;
              display: flex;
              flex-direction: column;

              > .text {
                margin: 1em 0 0.75em;
                font-weight: normal;
                font-size: 0.75em;
              }

              > .waktu {
                flex: 1;
                font-size: 1.35em;
              }

              > .p-button {
                padding: 0.75em 6em;
                font-weight: bold;
                font-size: 0.75em;
              }
            }
          }
        }
        &.empty {
          text-align: center;
          margin: 0 auto;
          padding: 3em;
          font-size: 2em;
          color: #848484;
          font-style: italic;
        }
      }
    }
  }
  &.page-kiosk-poliklinik-penjamin {
    > .kiosk-content {
      > .page-content {

        > .content-link {
          text-align: center;
          cursor: pointer;

          > .penjamin {
            text-align: center;
          }
        }
      }
    }
  }

  &.page-kiosk-poliklinik-jadwal-dokter {
    .mini-nav-content {
      text-transform: uppercase;
    }

    > .kiosk-content {
      > .page-content {
        flex-direction: row;
        flex-wrap: wrap;

        > .content-link {
          color: #333;
          text-align: left;
          width: calc(50% - 0.5rem);
          height: calc(50% - 0.5rem);
          cursor: default;
          font-size: 1em;
          padding-left: 1em;
          padding-right: 1em;

          > .content-wrapper {
            background-color: #fff;
            border-radius: 4px;
            display: flex;
            align-items: center;
            height: 100%;

            > .dokter {
              font-size: 1.25em;
              flex: 1;
              padding-left: 1em;
            }

            > .jadwals {
              height: 100%;
              width: 50%;
              display: flex;
              flex-direction: column;

              > .jadwal {
                display: flex;
                align-items: center;
                margin-bottom: 0.5em;
                flex: 1;
                border-bottom: 1px solid #e8e8e8;

                &:last-child {
                  border-bottom: none;
                }

                > .day {
                  width: 20%;
                  margin-top: 0;
                  margin-bottom: 0;
                  font-weight: bold;
                }

                > .waktu {
                  flex: 1;
                  font-size: 1em;
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;

                  > .time {
                    width: 50%;
                  }
                }
              }
            }
          }
        }
        &.empty {
          text-align: center;
          margin: 0 auto;
          padding: 3em;
          font-size: 2em;
          color: #848484;
          font-style: italic;
        }
      }
    }
  }


  &.page-kiosk-check-in {
    .page-content {
      flex-direction: column;
      height: 100%;
      padding: 1.5em 8em;
      position: relative;

      > .info {
        font-size: 2em;
      }

      .p-inputtext {
        width: 100%;
        font-size: 3em;
        border-radius: 2em;
        padding-left: 1em;
        padding-right: 1em;

        &:enabled:focus {
          box-shadow: 0 0 0 0.05em #8dcdff;
        }
      }
      .p-float-label label {
        font-size: 2em;
      }
      .p-float-label input:focus ~ label,
      .p-float-label input.p-filled ~ label,
      .p-float-label .p-inputwrapper-focus ~ label,
      .p-float-label .p-inputwrapper-filled ~ label {
        top: -1em;
        font-size: 1em;
      }
      .form-group {
        margin-bottom: 2.25em;
      }

      .p-button-raised {
        margin: 2.5em auto 1.5em;
        padding: 0.25em;
        font-size: 2.5em;
        font-weight: bolder;
        width: 12em;
      }
      .vue-touch-keyboard {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10000;
        padding: 1em 1em 3em;
        background-color: #d2d2d2;
        box-shadow: -1px -2px 9px 2px rgba(0, 0, 0, 0.3);

        .keyboard {
          .key {
            height: 3em;
            line-height: 3em;
          }
        }

        &.no_rekam_medis {
          .keyboard {
            max-width: 45%;
            margin: 0 auto;

            .zero {
              max-width: 8.25em;
              margin-right: auto;
              margin-left: 8.75em;
            }
          }
        }
      }
    }
  }

  &.page-kiosk-saran-masukan {
    .page-content {
      flex-direction: column;
      height: 100%;
      padding: 1.5em 8em;
      position: relative;

      .p-inputtext {
        width: 100%;
        font-size: 2em;

        &:enabled:focus {
          box-shadow: 0 0 0 0.05em #8dcdff;
        }
      }
      .p-float-label label {
        font-size: 2em;
        top: 1em;
      }
      .p-float-label .p-inputtext:focus ~ label,
      .p-float-label .p-inputtext.p-filled ~ label,
      .p-float-label .p-inputwrapper-focus ~ label,
      .p-float-label .p-inputwrapper-filled ~ label {
        top: -1em;
        font-size: 1.5em;
      }
      .form-group {
        margin-bottom: 2.25em;
      }

      .vue-star-rating {
        justify-content: center;
        margin-bottom: 0.5em;
      }

      .p-button-raised {
        margin: 1.5em auto 1.5em;
        padding: 0.25em;
        font-size: 2.5em;
        font-weight: bolder;
        width: 12em;
      }
      .vue-touch-keyboard {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10000;
        padding: 1em 1em 3em;
        background-color: #d2d2d2;
        box-shadow: -1px -2px 9px 2px rgba(0, 0, 0, 0.3);

        .keyboard {
          .key {
            height: 3em;
            line-height: 3em;
          }
        }

        &.no_rekam_medis {
          .keyboard {
            max-width: 45%;
            margin: 0 auto;

            .zero {
              max-width: 8.25em;
              margin-right: auto;
              margin-left: 8.75em;
            }
          }
        }
      }
    }
  }

  &.page-kiosk-saran-masukan-thanks {
    .page-content {
      padding-top: 3em;

      .img {
        max-width: 100%;
      }

      .presentation {
        width: 34%;
      }
      .content {
        padding: 3em 5em;
        flex: 1;

        .title {
          font-size: 2.25em;
          font-weight: bold;
        }
        .text {
          font-size: 1.5em;
          line-height: 1.8;
        }
        .jargon {
          font-weight: bold;
          color: #2979FF;
          font-style: italic;
          font-size: 1.75em;
          text-align: center;
        }
        .self {
          font-size: 2em;
          text-align: center;
          font-weight: bold;
        }
        .dismissable-message {
          position: absolute;
          bottom: 3em;
          right: 3em;
          color: #666;
          font-style: italic;
        }
      }
    }
  }
}
