* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: $fontSize;
    color: $textColor;
    background-color: $bodyBgColor;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    padding: 0;
    min-height: 100vh;
}

.app-layout {
  .layout-sidebar {
    width: $sidebar-width;

    @media (min-width: 1400px) {
      width: $sidebar-width-lg;
    }
  }
  .layout-logo {
    a {
      font-size: 0.8em;

      @media (min-width: 1400px) {
        font-size: 0.7em;
      }
    }
  }
}
