.MonitorViewLayout,
.MonitorViewLayout > body,
.monitor-view-layout {
  height: 100%;
}

.monitor-view-layout {
  display: flex;
  flex-direction: column;

  > .monitor-topbar {
    background-image: none;
    background-color: rgba(99, 99, 99, 0.75);
  }

  > .layout-header {
    display: flex;
    width: 100%;
    padding: 1em 2.5em;
    align-items: center;
    background-color: #209CF6;
    border-bottom: 0.5px solid #fff;
    box-shadow: 0px -10px 16px 8px rgba(255, 255, 255, 0.23);
    color: #fff;
    height: 17%;

    > .header-content {
      flex: 1;
      text-align: center;

      > .title {
        font-size: 4em;
        font-weight: 900;
        margin-top: -1rem;
      }
      > .meta {
        font-size: 1.5em;
        margin: 0.5em 0 0;
      }
    }

    .img {
      max-width: 100%;
      min-height: 1px;
    }

    .brand {
      width: 125px;
    }
  }

  > .layout-main {
    padding: 1em;
    height: 77%;
  }

  > .layout-main,
  > .layout-header {
    transition: padding 0.9s cubic-bezier(0.85, 0, 0.15, 1);
  }

  .layout-bottom {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #209CF6;
    width: 100%;
    padding: 1em 2.5em;
    color: #fff;
    height: 6%;

    .running-info-text {
      display: inline-flex;
      font-size: 1.5em;
      align-items: center;
      position: relative;

      > .text {
        margin-left: 4em;
        white-space: nowrap;
      }
    }

    > .clock {
      width: 8em;
      background-color: inherit;
      position: absolute;
      right: 0;
      border: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      color: inherit;
    }
  }

  &.is-mouse-idle {
    cursor: none !important;

    * {
      cursor: none !important;
    }
    > .monitor-topbar {
      transform: translateY(-6em);
    }

    > .layout-header {
      // padding: 1em 2.5em;
    }
    > .layout-main {
      // padding-top: 1em;
    }
  }

  .page-monitor-view {
    height: 100%;
    margin-top: 0;
    > .col-left {
      width: 45%;
      height: 100%;

      > .header {
        background-color: #ffcf5c;
        padding: 1em;
        text-align: center;
        border-radius: 6px;
        margin-bottom: 1.5em;
        height: 11%;
        display: flex;
        align-items: center;
        justify-content: center;

        > .title {
          font-size: 2.5em;
        }
      }

      > .body {
        display: flex;
        flex-direction: column;
        height: 89%;

        > .ticket-box {
          height: calc(25% - 1.5em);
          display: flex;
          // align-items: center;
          // justify-content: center;
          flex-wrap: wrap;
          margin-bottom: 1.5em;

          > .ticket-no {
            width: 40%;
            background-color: #2d2d2d;
            font-size: 3.5em;
            font-weight: 900;
            text-align: center;
            color: #fff;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          > .ticket-ruangan {
            flex: 1;
            background-color: #209CF6;
            font-size: 3em;
            text-align: center;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 1rem 0.5rem;
            font-weight: 900;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    > .col-right {
      width: 55%;
      height: 100%;
      position: relative;

      .play-marker-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.025);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        top: 0;
        left: 0;
        cursor: pointer;

        .play-marker {
          width: 4rem;
        }
      }

      .media-block {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .media-image {
        height: 100%;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        > .img {
          max-height: 100%;
          max-width: 100%;
          display: block;
          margin: 0 auto;
          border-radius: 1rem;
        }
      }

      .media-video {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;

        > .video {
          max-width: 100%;
          max-height: 100%;
          border-radius: 1rem;
        }
      }

      .current-ticket {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 2px solid #333;
        background-color: #fff;

        > .current-ticket-header {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40%;
          flex-direction: column;

          .text {
            font-size: 2rem;
            color: #666;
            margin: 0;
            line-height: 1.7;
          }
          .no {
            font-size: 7rem;
            color: #ff647c;
            margin: 0;
            line-height: 1.7;
            font-weight: bolder;
          }
        }
        > .current-ticket-body {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffcf5c;
          height: 50%;
          flex: 1;
          flex-direction: column;

          .text {
            font-size: 2rem;
            color: #666;
            margin: 0;
            line-height: 1.7;
          }
          .ruangan {
            font-size: 7rem;
            color: #2F64ED;
            margin: 0;
            line-height: 1.7;
            font-weight: bolder;
          }
        }
      }
    }
  }

  .layout-main {
    position: relative;
  }

  .main-loading {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 71, 111, 0.49);
    color: #fff;
    top: 0;
    left: 0;

    flex-direction: column;

    > .p-progress-spinner {
      margin-bottom: 1em;
    }
  }
}
