.p-toolbar {
  display: flex;
  align-items: center;

  > .p-toolbar-group-left,
  > .p-toolbar-group-right {
    float: none;
  }

  > .p-toolbar-group-left {
    flex: 1;

    + .p-toolbar-group-right {
       margin-left: auto;
    }
  }
}


body {
  .p-panel-titlebar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    > div:first-child {
      flex: 1;
    }
    > .p-panel-titlebar-toggler.p-panel-titlebar-icon {
      margin-left: 1.5em;
    }

    > .p-toolbar {
      border: none;
      padding: 0.25em 0.5em;
    }
  }
}
