.layout-topbar {
    position: fixed;
    height: 50px;
    padding: 0em 1.5em 0em 1.5em;
    color: #ffffff;
    z-index: 999;
    right: 0;
    display: flex;
    align-items: center;
    @include clearfix();
    @include linear-gradient-left($topbarLeftBgColor,$topbarRightBgColor);
    @include transition(left $transitionDuration);

    .layout-topbar-icons {
        float: right;
        display: block;
        -moz-animation-duration: .5s;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        margin-left: auto;

        button {
            position: relative;
            color: $topbarItemColor;
            margin-left: 20px;
            display: inline-block;
            text-decoration: none;
            @include transition(color $transitionDuration);

            &:hover {
                color: $topbarItemHoverColor;
            }

            &:focus {
                @include focused();
            }

            span {
                &.layout-topbar-icon {
                    font-size: 1.25em;
                }

                &.layout-topbar-item-text {
                    font-size: 20px;
                    display: none;
                }

                &.layout-topbar-badge {
                    position: absolute;
                    font-size: 10px;
                    right: -5px;
                    top: -5px;
                    width: 16px;
                    height: 16px;
                    text-align: center;
                    line-height: 16px;
                    color: $topbarItemBadgeColor;
                    background-color: $topbarItemBadgeBgColor;
                    @include border-radius(50%);
                }
            }

            &.named {
              background-color: #0388e5;
              padding: 5px 12px 0;

              span {
                &.layout-topbar-item-name {
                  position: relative;
                  top: -7px;
                }
                &.layout-topbar-icon {
                  font-size: 1.75em;
                }
              }
            }
        }

        .layout-topbar-search {
            padding: 0;
            position: relative;
            display: inline-block;
            top: -4px;

            input {
                display: inline-block;
                border: 0 none;
                font-size: $fontSize;
                background: transparent;
                border-bottom: 2px solid $topbarSearchInputBorderBottomColor;
                outline: 0 none;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $topbarSearchInputColor;
                width: 100px;
                padding: 1px 20px 1px 1px;
                margin: 0px;
                @include border-radius(2px);

                &::-webkit-input-placeholder { color:$topbarSearchInputColor; opacity: .7; @include transition(opacity $transitionDuration);}
                &:-moz-placeholder { color:$topbarSearchInputColor; opacity: .7; @include transition(opacity $transitionDuration);}
                &::-moz-placeholder { color:$topbarSearchInputColor; opacity: .7; @include transition(opacity $transitionDuration);}
                &:-ms-input-placeholder { color:$topbarSearchInputColor; opacity: .7; @include transition(opacity $transitionDuration);}
            }

            .layout-topbar-search-icon {
                font-size: 18px;
                position: absolute;
                top: -1px;
                right: 0px;
            }

            &:hover {
                input {
                    border-bottom-color: $topbarItemHoverColor;
                    &::-webkit-input-placeholder { opacity: 1 }
                    &:-moz-placeholder {opacity: 1}
                    &::-moz-placeholder {opacity: 1}
                    &:-ms-input-placeholder {opacity: 1}
                }

                .layout-topbar-search-icon {
                    color: $topbarItemHoverColor;
                }
            }
        }
    }

    .layout-menu-button {
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        color: $topbarItemColor;
        @include transition(color $transitionDuration);

        span {
            font-size: 1.25em;
        }

        &:hover {
            color: $topbarItemHoverColor;
        }
    }

    button {
        cursor: pointer;
    }

    #overlay_panel_app_topbar_monitor_view {
      .p-overlaypanel-content {
        padding: 0;
      }
    }
}

.monitor-topbar {
  transition: transform 0.9s cubic-bezier(0.85, 0, 0.15, 1);

  > .topbar-title {
    font-size: 1.75em;
    margin: 0 1em 0;
    position: relative;
    top: -3px;
  }
}

.app-layout {
  &.layout-wrapper.layout-static .layout-topbar {
    @media (min-width: 1025px) {
      left: $sidebar-width;
    }
    @media (min-width: 1400px) {
      left: $sidebar-width-lg;
    }
  }

  &.layout-wrapper.layout-static .layout-main,
  &.layout-wrapper.layout-static .layout-footer {
    @media (min-width: 1025px) {
      margin-left: $sidebar-width;
    }
    @media (min-width: 1400px) {
      margin-left: $sidebar-width-lg;
    }
  }
}
