/* Typography */
h1 {
    font-weight: normal;
    margin: 0;
    font-size: 24px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

/* Code Highlight */
.docs {
    pre[class*="language-"] {
        padding: 0 !important;
        background: transparent;
        overflow: visible;

        > code {
            border-left: 0 none;
            box-shadow: none;
            font-size: 14px;
        }
    }
}

body {
  .mb-1 {
    margin-bottom: 0.25rem;

    &.p-button {
      margin-bottom: 0.25rem;
    }
  }
  .mb-2 {
    margin-bottom: 0.75rem;
    &.p-button {
      margin-bottom: 0.75rem;
    }
  }
  .mb-3 {
    margin-bottom: 1rem;
    &.p-button {
      margin-bottom: 1rem;
    }
  }
  .mb-4 {
    margin-bottom: 1.25rem;
    &.p-button {
      margin-bottom: 1.25rem;
    }
  }
  .mb-5 {
    margin-bottom: 1.5rem;
    &.p-button {
      margin-bottom: 1.5rem;
    }
  }

  .text-label {
    color: #888;
    font-size: 93%;
    margin-bottom: 0.25em;
  }

  .flex-column {
    flex-direction: column;
  }

  .pointer-events-none {
    pointer-events: none !important;
  }

  .badge {
    border-radius: 2px;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    &.badge-success {
      background-color: #C8E6C9;
      color: #256029;
    }

    &.badge-danger{
      background-color: #FFCDD2;
      color: #C63737;
    }

    &.badge-warning {
      background-color: #FEEDAF;
      color: #8A5340;
    }

    &.badge-info {
      background-color: #B3E5FC;
      color: #23547B;
    }

    &.status-renewal {
      background-color: #ECCFFF;
      color: #694382;
    }
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
