<template>
  <div class="p-grid p-fluid dashboard">
    <div class="p-col-12 p-lg-4">
      <div class="card summary">
        <span class="title">Assignment</span>
        <span class="detail">Total assignments</span>
        <span class="count visitors">{{ totalAssignments }}</span>
      </div>
    </div>
    <div class="p-col-12 p-lg-4">
      <div class="card summary">
        <span class="title">Input</span>
        <span class="detail">Total assignment data inputted</span>
        <span class="count purchases">{{ totalInputs }}</span>
      </div>
    </div>
    <div class="p-col-12 p-lg-4">
      <div class="card summary">
        <span class="title">User</span>
        <span class="detail">Total users</span>
        <span class="count revenue">{{ totalUsers }}</span>
      </div>
    </div>
    <div class="p-col-12 p-lg-8">
      <div class="card">
        <div class="card-title" style="margin-bottom: 1em;">
          Total assignments for last 7 days
        </div>
        <div class="card-body">
          <Chart type="bar" :data="assignmentLast7DaysChartData" :options="assignmentLast7DaysChartOptions" />
        </div>
      </div>
    </div>
    <div class="p-col-12 p-lg-4">
      <div class="card">
        <div class="card-title" style="margin-bottom: 1em;">
          Total assignments by assignees
        </div>
        <div class="card-body">
          <Chart type="pie" :data="assignmentByAssigneeChartData" :options="assignmentByAssigneeChartOption" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppLayout from '@/Shared/AppLayout'

export default {
  metaInfo: { title: 'Dashboard' },
  layout: AppLayout,
  props: {
    totalUsers: Number,
    totalInputs: Number,
    totalAssignments: Number,
    assignmentLast7Days: Array,
    assignmentByAssignees: Object,
    errors: Object,
  },
  mounted() {

    this.$nextTick(() => {
      this.loadAssignmentLast7DaysData()
      this.loadAssignmentByAssignee()
    })

  },
  data() {
    return {
      assignmentLast7DaysChartData: {
        labels: ['01/01', '02/01', '03/01', '04/01', '05/01', '06/01', '07/01'],
        datasets: [

        ]
      },
      assignmentLast7DaysChartOptions: {
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              stepSize: 1
            }
          }]
        }
      },
      assignmentByAssigneeChartData: {
        labels: [],
        datasets: [

        ]
      },
      assignmentByAssigneeChartOption: {
        legend: {
          display: false
        }
      }
    }
  },
  methods: {
    getDayFromLastWeek() {
      const days = []

      for (let i = 6; i >= 0; i--) {
        days.push(dayjs().subtract(i, 'days').format('DD/MM'))
      }

      return days
    },
    async loadAssignmentLast7DaysData() {
      try {
        let { data } = await axios.get(this.$route('dashboard.assignment-last-7-days-data'))

        if (data) {
          this.setAssignmentLast7DaysChartData(data)
        }
      } catch (err) {}
    },
    setAssignmentLast7DaysChartData(data) {
      const assignmentLast7DaysChartData = { ...data }
      assignmentLast7DaysChartData.labels = this.getDayFromLastWeek()

      assignmentLast7DaysChartData.datasets = data.map(v => {
        return {
          label: v.id,
          backgroundColor: stringToColor(v.id),
          data: v.data
        }
      })
      this.assignmentLast7DaysChartData = assignmentLast7DaysChartData
    },
    async loadAssignmentByAssignee() {
      try {
        let { data } = await axios.get(this.$route('dashboard.assignment-by-assignee-data'))

        if (data && data.data && data.assignees) {
          this.setAssignmentByAssigneeChartData(data)
        }
      } catch (err) {}
    },
    setAssignmentByAssigneeChartData(data) {
      const assignmentByAssigneeChartData = { ...data }
      assignmentByAssigneeChartData.labels = data.assignees
      const assignmentByAssigneeChartDataColors = data.assignees.map(v => stringToColor(v))

      assignmentByAssigneeChartData.datasets = [{
        data: data.data,
        backgroundColor: data.assignees.map(v => stringToColor(v))
      }]

      this.assignmentByAssigneeChartData = assignmentByAssigneeChartData
    }
  }
}
</script>
