<template>
  <div class="p-grid page-assignment">
    <div class="p-col-12">
      <div class="card card-w-title">
        <h1>Report Summary</h1>

        <DataTable
          :value="assignments"
          class="p-datatable-responsive p-datatable-no-strip p-datatable-complex"
          dataKey="id"
          :paginator="true"
          :rows="limit"
          :sortField.sync="sort.by"
          :sortOrder.sync="sort.dir"
          @sort="onTableSort"
          :loading="isTableLoading"
          paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
          :rowsPerPageOptions="[25,50,100]"
          :currentPageReportTemplate="`Total records: ${total_records}`"
          :totalRecords="total_records"
          @page="onTablePaginating"
          :first="offset"
        >

          <template #header>
            <div class="p-grid p-datatable-header-filter">
              <div class="p-col-2">
                <span class="form-table-filter">
                  <span class="label">Month</span>
                  <Calendar ref="filtermonth" v-model="filters.month" :touchUI="true" monthNavigator yearNavigator :yearRange="yearRange" :maxDate="maxDate" style="width: 100%;" @hide="onCalendarHidden" dateFormat="MM yy" class="monthpicker-only" :manualInput="false" view="month" placeholder="Pick month">
                    <template #footer>
                      <div class="p-datepicker-bottom-done">
                        <!-- <Button type="button" class="p-button-secondary" label="Clear" icon="pi pi-trash" @click="filters.month = []; $refs.filtermonth.disableModality()" /> -->
                        <!-- <Button type="button" class="p-button-primary" label="Done" icon="pi pi-check" @click="$refs.filtermonth.disableModality()" /> -->
                      </div>
                    </template>
                  </Calendar>
                </span>
              </div>
              <div class="p-col-2">
                <span class="form-table-filter">
                  <span class="label">Filter by Tool</span>
                  <AutoComplete v-model="filtersTool" @item-select="onToolChange(filtersTool)" @clear="onToolChange()" :suggestions="filteredTools" @complete="onToolSearch($event)" placeholder="Select Tool ID" field="tool_id" :dropdown="true" />
                </span>
              </div>
              <div class="p-col-2">
                <span class="form-table-filter">
                  <span class="label">Filter by Dealer</span>
                  <AutoComplete v-model="filtersDealer" @item-select="onDealerChange(filtersDealer)" @clear="onDealerChange()" :suggestions="filteredDealers" @complete="onDealerSearch($event)" placeholder="Select dealer" field="name" :dropdown="true" />
                </span>
              </div>
              <div class="p-col-2">

              </div>
              <div class="p-col-1 p-offset-3 text-right action">
                <span class="form-table-filter">
                  <span class="label">&nbsp;</span>
                  <Button label="Export" class="p-button-warning"  @click="onExportAllClick()" v-if="can['export.assignment']" />
                </span>
              </div>
            </div>
          </template>

          <template #empty>
              <div style="text-align: center; min-height: 30vh">{{filters && filters.month ? 'No records found.' : 'Please select month' }}</div>
          </template>
          <template #loading>
              Please wait ...
          </template>

          <Column field="id" header="No" :sortable="true" headerStyle="width: 8em;">
            <template #body="slotProps">
              {{slotProps.data.id}}
            </template>
          </Column>
          <Column field="owner.name" header="By" :sortable="true" filterMatchMode="contains" headerStyle="width: 12em;">
            <template #body="slotProps">
              {{slotProps.data.display_name}}
            </template>
          </Column>
          <Column field="total_success" header="Count" :sortable="true" headerStyle="width: 11em" bodyStyle="text-align: center">
            <template #body="slotProps">
              {{slotProps.data.count}}
            </template>
          </Column>
          <Column field="tool.id" header="Tool ID" :sortable="true">
            <template #body="slotProps">
              {{slotProps.data.tool ? slotProps.data.tool.id : '-'}}
            </template>
          </Column>
          <Column field="dealer.name" header="Dealer" :sortable="true">
            <template #body="slotProps">
              {{slotProps.data.dealer.name}}
            </template>
          </Column>
          <Column field="submitted_at" header="Submitted at" :sortable="true" filterMatchMode="contains" headerStyle="width: 12em;">
            <template #body="slotProps">
              {{slotProps.data.submitted_at}}
            </template>
          </Column>
          <Column headerStyle="width: 12em; text-align: center" bodyStyle="text-align: right">
            <template #header>

            </template>
            <template #body="slotProps">
              <Button type="button" class="p-button-info" label="View input" @click="onViewInputClick(slotProps.data)"/>
            </template>
          </Column>
        </DataTable>
      </div>
    </div>

    <div class="p-col-12 p-md-4" v-if="filters && filters.month && users && users.length">
      <div class="card card-w-title">
        <DataTable
          :value="users"
          class=""
          dataKey="id"
          :rows="10000"
          :paginator="false"
          :sortable="true"
        >
          <template #empty>
              <div style="text-align: center">No records found</div>
          </template>
          <template #loading>
              Please wait ...
          </template>

          <Column field="id" header="No" :sortable="false">
            <template #body="slotProps">
              {{slotProps.data.id}}
            </template>
          </Column>
          <Column field="display_name" header="By" :sortable="false">
            <template #body="slotProps">
              {{slotProps.data.display_name}}
            </template>
          </Column>
          <Column field="total" header="Total Count" :sortable="false">
            <template #body="slotProps">
              {{slotProps.data.total}}
            </template>
          </Column>
        </DataTable>
      </div>
    </div>

    <Dialog :visible.sync="isInputDialogVisible" class="assignment-input-dialog" :modal="true" :style="{width: '40vw'}" :dismissable="false" >
      <template #header>
        <span>Input Data</span>
        <span v-if="assignmentInput.owner" style="margin-left: 0.5em;"> by {{ assignmentInput.owner.display_name }}</span>
        <span class="badge badge-success" v-if="assignmentInput.status === 1">Done</span>
        <span class="badge badge-warning" v-if="assignmentInput.status === 0">Draft</span>

        <div class="actions" style="margin-left: auto;">
          <Button label="Export" class="p-button-warning"  @click="onExportClick(assignmentInput.id)" v-if="can['export.assignment']" />
          <!-- <Button icon="pi pi-times" style="color: #717171;" class="p-button-secondary" @click.prevent="isInputDialogVisible = false" /> -->
        </div>
      </template>

      <div class="p-grid data-grid data-grid data-grid">
        <div class="p-col-2">
          Assign date
        </div>
        <div class="p-col-1 sep">
          :
        </div>
        <div class="p-col-6">
          {{ assignmentInput.assigned_at }}
        </div>
      </div>
      <div class="p-grid data-grid">
        <div class="p-col-2">
          Tool ID
        </div>
        <div class="p-col-1 sep">
          :
        </div>
        <div class="p-col-6">
          {{ assignmentInput.tool ? assignmentInput.tool.id : '-' }}
        </div>
      </div>
      <div class="p-grid data-grid">
        <div class="p-col-2">
          Dealer
        </div>
        <div class="p-col-1 sep">
          :
        </div>
        <div class="p-col-6">
          {{ assignmentInput.dealer ? assignmentInput.dealer.name : '-' }}
        </div>
      </div>
      <div class="p-grid data-grid" style="margin-bottom: 1em;">
        <div class="p-col-2">
          Assistants
        </div>
        <div class="p-col-1 sep">
          :
        </div>
        <div class="p-col-6">
          {{ assignmentInput.assistants ? assignmentInput.assistants : '-' }}
        </div>
      </div>
      <div class="p-grid input-grid" style="margin-bottom: 1em;">
        <div class="p-col-12">
          <DataTable
            :value="assignmentInput.data"
            class="p-datatable-responsive p-datatable-no-strip"
            dataKey="id"
            :paginator="false"
            :rows="assignmentInput.data ? assignmentInput.data.length : 1000"
            :sortField.sync="assignmentInput.sort.by"
            :sortOrder.sync="assignmentInput.sort.dir"
            :loading="isTableInputLoading"
          >
            <template #empty>
                <div style="text-align: center;">No records found.</div>
            </template>
            <template #loading>
                Please wait ...
            </template>

            <Column field="index" header="No" :sortable="true" headerStyle="width: 6em">
              <template #body="slotProps">
                {{slotProps.data.index}}
              </template>
            </Column>
            <Column field="brand.name" header="Brand" :sortable="true" headerStyle="width: 10em">
              <template #body="slotProps">
                {{slotProps.data.brand.name}}
              </template>
            </Column>
            <Column field="type.name" header="Type" :sortable="true">
              <template #body="slotProps">
                {{slotProps.data.type.name}}
              </template>
            </Column>
            <Column field="success_count" header="Count" :sortable="true" headerStyle="width: 10em;">
              <template #body="slotProps">
                {{slotProps.data.success_count}}
              </template>
            </Column>
          </DataTable>
        </div>
      </div>

      <div class="p-grid photo-grid" style="margin-top: 1em;">
        <div class="p-col-6" v-for="(photo, index) in assignmentInput.photos" :key="photo.id" v-show="index < 2" v-if="assignmentInput.photos && assignmentInput.photos.length">
          <a :href="photo.url" target="_blank"><img :src="photo.url" alt="photo of assignment" class="img"></a>
        </div>
        <div class="p-col-12" v-if="!(assignmentInput.photos && assignmentInput.photos.length)">
          <br />
          <br />
        </div>
      </div>
    </Dialog>

    <Dialog :header="assignmentInput.assigned_at + ' ' + assignmentInput.dealer" :visible.sync="isPhotoDialogVisible" :style="{minWidth: '65em', maxWidth: '90%'}" :modal="true">
      <div class="p-grid" v-if="assignmentInput.photos && assignmentInput.photos.length">
        <div class="p-col-4 p-col-md-3" v-for="photo in assignmentInput.photos" :key="photo.id">
          <a :href="photo.url" target="_blank"><img :src="photo.url" alt="" class="img"></a>
        </div>
      </div>
      <div class="p-grid" v-if="!(assignmentInput.photos && assignmentInput.photos.length)">
        <div class="p-col-12 text-center">
          <em>No photos uploaded, yet.</em>
        </div>
      </div>

    </Dialog>

    <form method="post" ref="formexport" style="display: none !important;">
      <input type="hidden" name="_token" class="csrfToken">
      <input type="hidden" class="payload" name="payload">
    </form>
  </div>
</template>

<script>
import AppLayout from '@/Shared/AppLayout'

const DEFAULT_TABLE_QUERY = {
  filter: {},
  sort: {
    by: 'id',
    dir: 1
  },
  limit: 25,
  offset: 0
}

const DEFAULT_FORM_ASSIGNMENT_FIELD = {
  id: null,
  month: null,
  dealer_id: null,
  status: 1
}

export default {
  metaInfo: { title: 'Summary' },
  layout: AppLayout,
  props: {
    can: Object,
    dealers: Array,
    tools: Array,
    assignments: Array,
    users: Array,
    total_records: Number,
    page_filters: Object,
    page_sort: Object,
    page_limit: Number,
    page_offset: Number,
    errors: Object,
    csrfToken: String
  },
  mounted() {
    this.$nextTick(() => {
      this.yearRange = `2019:${new Date().getFullYear()}`
      let filters = {}

      if (this.page_filters) {
        filters = {...this.page_filters}

        if (this.page_filters.month) {
          filters.month = dayjs(this.page_filters.month).toDate()
        }

        if (this.page_filters.dealer) {
          this.filtersDealer = this.dealers.find(v => v.id === this.page_filters.dealer)
        }
        if (this.page_filters.tool) {
          this.filtersTool = this.tools.find(v => v.id === this.page_filters.tool)
        }
      } else {
        filters = {}
      }

      this.filters = filters

      const sort = this.page_sort

      if (sort) {
        sort.dir = parseInt(sort.dir, 10)
      }

      this.sort = sort || { by: null, dir: null }

      this.offset = parseInt(this.page_offset, 10) || 0
      this.limit = parseInt(this.page_limit, 10) || 25
    })
  },
  data() {
    return {
      filters: {},
      sort: {
        by: null,
        dir: null
      },
      offset: null,
      limit: null,
      isTableLoading: false,
      maxDate: new Date(),
      yearRange: '2019:2030',
      filtersDealer: null,
      filteredDealers: null,
      filtersTool: null,
      filteredTools: null,
      formAssignment: {},
      isAssignmentFormModalVisible: false,
      isInputDialogVisible: false,
      assignmentInput: {
        assignment_id: null,
        data: [],
        photos: [],
        assigned_at: null,
        status: null,
        dealer: null,
        owner: null,
        tool: null,
        sort: {
          by: 'id',
          dir: 1
        }
      },
      isTableInputLoading: false,
      isPhotoDialogVisible: false
    }
  },
  watch: {
    filters: {
      deep: true,
      handler(n) {
        const o = {...this.page_filters}

        if (
          (n && !o) ||
          (!n && o) ||
          (
            n.status !== o.status ||
            (n.dealer && o.dealer && n.dealer.id !== o.dealer.id) || (n.dealer && !o.dealer) || (!n.dealer && o.dealer) ||
            (n.tool && o.tool && n.tool.id !== o.tool.id) || (n.tool && !o.tool) || (!n.tool && o.tool)
          )
        ) {
          this.onFilterGlobal()
        }
      }
    }
  },
  methods: {
    getQuery() {
      let sort = this.sort.by ? this.sort : null

      if (sort && JSON.stringify(sort) === JSON.stringify(DEFAULT_TABLE_QUERY.sort)) {
        sort = null
      }

      let filter = {
        ...this.filters
      }

      if (typeof filter.global !== 'undefined' && !filter.global) {
        delete filter.global
      }

      if (typeof filter.status !== 'undefined' && typeof filter.status !== 'number') {
        delete filter.status
      }

      if (typeof filter.dealer !== 'undefined' && !filter.dealer) {
        delete filter.dealer
      } else if (filter.dealer && filter.dealer.id) {
        filter.dealer = filter.dealer.id
      }

      if (typeof filter.tool !== 'undefined' && !filter.tool) {
        delete filter.tool
      } else if (filter.tool && filter.tool.id) {
        filter.tool = filter.tool.id
      }

      if (filter.month) {
        filter.month = dayjs(filter.month).format('YYYY-MM-DD')
      }

      if (filter.assigned_at) {
        if (Array.isArray(filter.assigned_at)) {
          filter.start = filter.assigned_at[0]
          filter.end = filter.assigned_at[1]

          if (filter.start) {
            filter.start = dayjs(filter.start).format('YYYY-MM-DD')
          }
          if (filter.end) {
            filter.end = dayjs(filter.end).format('YYYY-MM-DD')
          }
          delete filter.assigned_at
        } else {
          delete filter.assigned_at
        }
      }

      if (!filter || JSON.stringify(filter) === JSON.stringify(DEFAULT_TABLE_QUERY.filter) || !Object.keys(filter).length) {
        filter = null
      }

      let offset = this.page_offset == this.offset ? null : this.offset

      let limit = this.page_limit == this.limit ? null : this.limit


      let query = {}

      if (filter) {
        query.filter = filter
      }

      if (sort) {
        query.sort = sort
      }

      if (limit && limit != DEFAULT_TABLE_QUERY.limit) {
        query.limit = limit
      }

      if (offset && offset != DEFAULT_TABLE_QUERY.offset) {
        query.offset = offset
      }

      return query
    },
    async loadTable() {
      this.isTableLoading = true

      const query = this.getQuery()

      await this.$inertia.visit(this.$route(this.route().current(), query), {
        preserveState: true,
        preserveScroll: true,
        replace: true
      })

      this.fieldRegistrationId = null
      this.isRegistrationConfirmDialogVisible = false
      this.isTableLoading = false
    },
    onCalendarHidden() {
      const o = { ...this.page_filters }
      const n = { ...this.filters }

      if (
        (n && !o) ||
        (n.month && !o.month) ||
        (n.month && o.month && dayjs(n.month).format('YYYY-MM-DD') !== dayjs(o.month).format('YYYY-MM-DD'))
      ) {
        this.loadTable()
      }
    },
    async onFilterGlobal() {
      await this.loadTable()
    },
    async onTableSort(e) {
      const sort = {
        by: e.sortField,
        dir: e.sortOrder
      }

      this.sort = sort

      await this.loadTable()
    },
    async onTablePaginating(e) {
      this.limit = e.rows
      this.offset = e.first

      await this.loadTable()
    },
    onAddClick() {
      this.formAssignment = DEFAULT_FORM_ASSIGNMENT_FIELD

      this.isAssignmentFormModalVisible = true
    },
    onEditClick(assignment) {
      this.formAssignment = DEFAULT_FORM_ASSIGNMENT_FIELD
      this.formAssignment = { ...assignment }

      this.isAssignmentFormModalVisible = true
    },
    async onFormAssignmentSubmit(e) {
      this.isTableLoading = true
      let { id, active, status, name } = this.formAssignment
      this.$parent.showLoading()

      const payload = {
        name,
        status: active ? 1 : 0
      }

      if (id) {
        await this.$inertia.patch(this.route('assignment.update', { id }), payload)
      } else {
        if (!payload.name) {
          this.$toast.add({
            severity: 'error',
            summary: `Please set assignment name`,
            life: 3000
          })

          return
        }

        await this.$inertia.post(this.route('assignment.store'), payload)
      }
      this.$parent.hideLoading()

      this.isTableLoading = false
      this.isAssignmentFormModalVisible = false
      this.formAssignment = DEFAULT_FORM_ASSIGNMENT_FIELD
    },
    async onFormAssignmentDelete(e) {
      const confirmed = await this.$root.confirmDelete(`Are you sure want to delete this assignment: ${this.formAssignment.name}?`)

      if (!confirmed) {
        return
      }

      await new Promise((resolve) => {
        this.$nextTick(() => {
          resolve()
        })
      })

      this.isTableLoading = true

      this.$parent.showLoading()
      await this.$inertia.delete(this.route('assignment.destroy', { id: this.formAssignment.id }))
      this.$parent.hideLoading()

      this.isTableLoading = false
      this.isAssignmentFormModalVisible = false
    },
    onDealerSearch(e) {
      let results;
      let query = e ? (e.query || '') : ''
      const loweredQuery = query.toLowerCase()

      if (query.length === 0) {
        results = [...this.dealers]
      }
      else {
        results = this.dealers.filter((dealer) => {
          return dealer.name.toLowerCase().includes(loweredQuery)
        });
      }

      this.filteredDealers = results
    },
    onDealerChange(dealer) {
      const filters = { ...this.filters }

      if (dealer) {
        filters.dealer = { ...dealer }
      } else {
        filters.dealer = null
      }

      this.filters = filters
    },
    onToolSearch(e) {
      let results;
      let query = e ? (e.query || '') : ''

      if (e.id) {
        query = e.id
      }

      const loweredQuery = query.toLowerCase()

      if (query.length === 0) {
        results = [...this.tools]
      }
      else {
        results = this.tools.filter((tool) => {
          return tool.id.toLowerCase().includes(loweredQuery)
        });
      }

      this.filteredTools = results
    },
    onToolChange(tool) {
      const filters = { ...this.filters }

      if (tool) {
        filters.tool = { ...tool }
      } else {
        filters.tool = null
      }

      this.filters = filters
    },
    async onViewInputClick(assignment) {
      assignment = {
        ...assignment,
        data: [],
        photos: [],
        sort: { by: 'id', dir: -1 }
      }

      this.isTableInputLoading = true
      this.isInputDialogVisible = true

      await Promise.all([
        this.fetchAssignmentInput(assignment).then(v => {
          assignment.data = v
        }),
        this.fetchAssignmentPhotos(assignment).then(v => {
          assignment.photos = v
        })
      ])

      console.log(assignment)
      this.assignmentInput = assignment

      this.isTableInputLoading = false
    },
    async fetchAssignmentInput(assignment) {

      try {
        let { data } = await axios.get(this.$route('assignment-input.data', { assignmentId: assignment.id }))

        if (data.status === 'success') {
          return data.data.inputs
        }
      } catch (err) {
        console.error(err)
        this.$toast.add({
          severity: 'error',
          summary: `An error occurred while loading assignment input data`,
          life: 3000
        })
      }

      return []
    },
    async onViewPhotoClick(assignment) {
      this.assignmentInput = {
        assignment_id: assignment.id,
        assigned_at: assignment.assigned_at,
        dealer: assignment.dealer.name,
        status: assignment.status,
        data: [],
        photos: [],
        sort: { by: 'id', dir: -1 }
      }

      this.isPhotoDialogVisible = true
    },
    async fetchAssignmentPhotos(assignment) {
      try {
        let { data } = await axios.get(this.$route('assignment-photo.data', { assignmentId: assignment.id }))

        if (data.status === 'success') {
          return data.data.photos
        }
      } catch (err) {
        console.error(err)
        this.$toast.add({
          severity: 'error',
          summary: `An error occurred while loading assignment input data`,
          life: 3000
        })
      }

      return []
    },
    async onExportAllClick() {
      const query = this.getQuery()

      const $form = this.$refs.formexport
      $form.setAttribute('action', this.$route('report.summary.export', query))
      $form.querySelector('.payload').value = JSON.stringify(query)
      $form.querySelector('.csrfToken').value = this.csrfToken

      $form.submit()
    },
    async onExportClick() {
      const query = this.getQuery()

      const $form = this.$refs.formexport
      $form.setAttribute('action', this.$route('report.summary.export', { assignmentId: this.assignmentInput.id }))
      $form.querySelector('.payload').value = JSON.stringify(query)
      $form.querySelector('.csrfToken').value = this.csrfToken

      $form.submit()
    }
  }
}
</script>
