body {
  .page-monitor {
    .monitor-link {
      display: flex;
      background-color: #fff;
      box-shadow: 1px 1px 1px #ddd;
      border: 1px solid #ddd;
      padding: 0.5em 1em;
      align-items: center;
      border-radius: 3px;

      > a {
        flex: 1;
        margin-right: 2em;
      }
    }
    .active {
      > .monitor-link {
        background-color: rgba(0, 122, 217, 0.15);
      }
    }

    .col-settings {
      > .card.card-w-title {
        padding-bottom: 0;
        display: flex;
        background-color: transparent;
        padding-left: 0;

        > h1 {
          border: none;
        }

        &.no-monitor {
          padding: 5em;
          justify-content: center;
          background-color: #fff;
        }
      }

      .p-card-body {
        > .p-card-title {
          margin-bottom: 2em;
        }
      }

      .p-panel .p-panel-titlebar,
      .p-panel .p-panel-content {
        border: none;
      }
      .p-panel .p-panel-content {
        padding-left: 0;
        padding-right: 0;
      }

      .panel-video {
        .p-panel-titlebar {
          background-color: #3f424b;
          padding: 0;
          color: #fff;
        }
        .p-toolbar {
          background-color: inherit;
        }
        .p-panel-content {
          padding: 0;
        }
        .p-toolbar-group-right {
          .p-button {
            margin-right: 0.25em;
            background-color: inherit;
            border: none;
            width: 1.5em;
          }
        }

        .media-video {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }

      .panel-image {
        .p-panel-titlebar {
          background-color: #3f424b;
          padding: 0;
          color: #fff;
        }
        .p-toolbar {
          background-color: inherit;
        }
        .p-panel-content {
          padding: 0;
        }
        .p-toolbar-group-right {
          .p-button {
            margin-right: 0.25em;
            background-color: inherit;
            border: none;
            width: 1.5em;
          }
        }

        .media-image {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        .img {
          max-width: 100%;
          min-height: 1px;
        }
      }

      .info-text {
        display: flex;
        align-items: center;

        > .id {
          width: 3em;
        }
        > .text {
          flex: 1;
        }
        > .status {
          width: 10em;
          text-align: center;
        }
        > .action {
          margin-left: auto;
        }
      }

      .autocomplete-ruangan {
        .p-autocomplete-multiple-container.p-component.p-inputtext {
          width: calc(99% - 2.357em);
        }
      }
      .autocomplete-ruangan-readonly {
        .p-autocomplete-multiple-container.p-component.p-inputtext {
          width: 100%;
          border: none;
          box-shadow: none !important;
          outline: none !important;
        }
      }
    }
  }
}
