<template>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card card-w-title">
        <h1>Location</h1>

        <DataTable
          :value="locations"
          class="p-datatable-responsive p-datatable-no-strip p-datatable-complex"
          dataKey="id"
          :paginator="true"
          :rows="limit"
          :sortField.sync="sort.by"
          :sortOrder.sync="sort.dir"
          @sort="onTableSort"
          :loading="isTableLoading"
          paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
          :rowsPerPageOptions="[25,50,100]"
          :currentPageReportTemplate="`Total records: ${total_records}`"
          :totalRecords="total_records"
          @page="onTablePaginating"
          :first="offset"
        >

          <template #header>
            <div class="p-grid p-datatable-header-filter">
              <div class="p-col-3">
                <span class="form-table-filter">
                  <span class="label">Global search</span>
                  <InputText v-model="filtersGlobal" @keyup.enter="filters = { ...filters, global: filtersGlobal}" placeholder="Search location, hit [Enter]" />
                </span>
              </div>
              <div class="p-col-2">
                <span class="form-table-filter">
                  <span class="label">Filter by status</span>
                  <Dropdown v-model="filters.status" :options="[{id: 1, name: 'Active'}, {id: 0, name: 'Inactive'}]" optionValue="id" optionLabel="name" placeholder="Select status" showClear />
                </span>
              </div>
              <div class="p-col-3 p-offset-4 text-right action">
                <Button label="New Location" icon="pi pi-plus" class="p-button-success" v-if="can['create.location']" @click.prevent="onAddClick" />
              </div>
            </div>
          </template>

          <template #empty>
              <div style="text-align: center;">No records found.</div>
          </template>
          <template #loading>
              Please wait ...
          </template>

          <Column field="id" header="ID" :sortable="true" headerStyle="width: 8em;">
            <template #body="slotProps">
              {{slotProps.data.id}}
            </template>
          </Column>
          <Column field="name" header="Name" :sortable="true">
            <template #body="slotProps">
              {{slotProps.data.name}}
            </template>
          </Column>
          <Column field="status" header="Status" :sortable="true"  headerStyle="width: 10em;">
            <template #body="slotProps">
              <span class="badge badge-success" v-if="slotProps.data.status === 1">Active</span>
              <span class="badge badge-danger" v-if="slotProps.data.status === 0">Inactive</span>
            </template>
          </Column>
          <Column field="updated_at" header="Last modified at" :sortable="true" filterMatchMode="contains" headerStyle="width: 12em;">
            <template #body="slotProps">
              {{slotProps.data.last_modified_at}}
            </template>
          </Column>
          <Column headerStyle="width: 10em; text-align: center" bodyStyle="text-align: center">
            <template #header>

            </template>
            <template #body="slotProps">
              <Button type="button" icon="pi pi-pencil" @click="onEditClick(slotProps.data)"/>
            </template>
          </Column>
        </DataTable>
      </div>
    </div>


    <Dialog :header="formLocation.id ? 'Edit Location' : 'New Location'" :visible.sync="isLocationFormModalVisible" :style="{width: '30em'}" :modal="true" :contentStyle="{overflow: 'visible'}">
      <form method="post" class="form-user" @submit.prevent="onFormLocationSubmit">
        <span class="form-group">
          <div class="text-label">Name</div>
          <InputText type="text" v-model="formLocation.name" style="width: 100%;" />
        </span>

        <div class="status">
          <div class="text-label">Status</div>
          <ToggleButton
            v-model="formLocation.active"
            onLabel="Active"
            offLabel="Inactive"
            onIcon="pi pi-check"
            offIcon="pi pi-times"
            style="width: 10em"
          />
        </div>
      </form>

      <template #footer>
        <Button icon="pi pi-trash" class="p-button-danger" @click="onFormLocationDelete" v-show="can['delete.location'] && (!!formLocation.id && !(formLocation.id === 1))" style="float: left;" />
        <Button label="Cancel" @click="isLocationFormModalVisible = false" class="p-button-secondary" v-if="can['edit.location']" />
        <Button :label="formLocation.id ? 'Save' : 'Create'" :class="{ 'p-button-success' : !formLocation.id }" icon="pi pi-check" @click="onFormLocationSubmit"  v-if="can['edit.location']" />
      </template>
    </Dialog>

  </div>
</template>

<script>
import AppLayout from '@/Shared/AppLayout'

const DEFAULT_TABLE_QUERY = {
  filter: {},
  sort: {
    by: 'id',
    dir: -1
  },
  limit: 25,
  offset: 0
}

const DEFAULT_FORM_DEALER_FIELD = {
  id: null,
  name: null,
  active: true,
  status: 1
}

export default {
  metaInfo: { title: 'Location' },
  layout: AppLayout,
  props: {
    can: Object,
    locations: Array,
    total_records: Number,
    page_filters: Object,
    page_sort: Object,
    page_limit: Number,
    page_offset: Number,
    errors: Object,
  },
  mounted() {
    this.$nextTick(() => {
      if (this.page_filters) {
        this.filters = {...this.page_filters}
        this.filtersGlobal = this.filters.global
      } else {
        this.filters = {}
      }
      const sort = this.page_sort

      if (sort) {
        sort.dir = parseInt(sort.dir, 10)
      }

      this.sort = sort || { by: null, dir: null }

      this.offset = parseInt(this.page_offset, 10) || 0
      this.limit = parseInt(this.page_limit, 10) || 25
    })
  },
  data() {
    return {
      filters: {},
      filtersGlobal: null,
      sort: {
        by: null,
        dir: null
      },
      offset: null,
      limit: null,
      isTableLoading: false,
      formLocation: {},
      isLocationFormModalVisible: false
    }
  },
  watch: {
    filters: {
      deep: true,
      handler(n) {
        const o = {...this.page_filters}

        if ((n && !o) || (n.global !== o.global || n.status !== o.status)) {
          this.onFilterGlobal()
        }
      }
    }
  },
  methods: {
    async loadTable() {
      this.isTableLoading = true
      let sort = this.sort.by ? this.sort : null

      if (sort && JSON.stringify(sort) === JSON.stringify(DEFAULT_TABLE_QUERY.sort)) {
        sort = null
      }

      let filter = {
        ...this.filters
      }

      if (typeof filter.global !== 'undefined' && !filter.global) {
        delete filter.global
      }

      if (typeof filter.status !== 'undefined' && typeof filter.status !== 'number') {
        delete filter.status
      }

      if (!filter || JSON.stringify(filter) === JSON.stringify(DEFAULT_TABLE_QUERY.filter) || !Object.keys(filter).length) {
        filter = null
      }

      let offset = this.page_offset == this.offset ? null : this.offset

      let limit = this.page_limit == this.limit ? null : this.limit


      let query = {}

      if (filter) {
        query.filter = filter
      }

      if (sort) {
        query.sort = sort
      }

      if (limit && limit != DEFAULT_TABLE_QUERY.limit) {
        query.limit = limit
      }

      if (offset && offset != DEFAULT_TABLE_QUERY.offset) {
        query.offset = offset
      }

      await this.$inertia.visit(this.$route(this.route().current(), query))

      this.fieldRegistrationId = null
      this.isRegistrationConfirmDialogVisible = false
      this.isTableLoading = false
    },
    async onFilterGlobal() {
      this.loadTable()
    },
    async onTableSort(e) {
      const sort = {
        by: e.sortField,
        dir: e.sortOrder
      }

      this.sort = sort

      await this.loadTable()
    },
    async onTablePaginating(e) {
      this.limit = e.rows
      this.offset = e.first

      await this.loadTable()
    },
    onAddClick() {
      this.formLocation = DEFAULT_FORM_DEALER_FIELD

      this.isLocationFormModalVisible = true
    },
    onEditClick(location) {
      this.formLocation = DEFAULT_FORM_DEALER_FIELD
      this.formLocation = { ...this.formLocation, ...location }

      this.isLocationFormModalVisible = true
    },
    async onFormLocationSubmit(e) {
      this.isTableLoading = true
      let { id, name, active, status } = this.formLocation
      this.$parent.showLoading()

      const payload = {
        name,
        status: active ? 1 : 0
      }

      if (id) {
        await this.$inertia.patch(this.route('location.update', { id }), payload)
      } else {
        await this.$inertia.post(this.route('location.store'), payload)
      }
      this.$parent.hideLoading()

      this.isTableLoading = false
      this.isLocationFormModalVisible = false
      this.formLocation = DEFAULT_FORM_DEALER_FIELD
    },
    async onFormLocationDelete(e) {
      const confirmed = await this.$root.confirmDelete(`Are you sure want to delete this location: ${this.formLocation.id}?`)

      if (!confirmed) {
        return
      }

      await new Promise((resolve) => {
        this.$nextTick(() => {
          resolve()
        })
      })

      this.isTableLoading = true

      this.$parent.showLoading()
      await this.$inertia.delete(this.route('location.destroy', { id: this.formLocation.id }))
      this.$parent.hideLoading()

      this.isTableLoading = false
      this.isLocationFormModalVisible = false
    },
  }
}
</script>
