<template>
  <div class="layout-footer">
    <span class="footer-text" style="margin-right: 5px">Tema Data</span>
    <img src="/img/logo.svg" alt="sigma" width="80"/>
    <span class="footer-text" style="margin-left: 5px">Theme and Layout</span>
  </div>
</template>

<script>
export default {
  name: 'AppFooter'
}
</script>

<style scoped>

</style>
