<template>
  <div class="app-layout" :class="containerClass" @click="onWrapperClick">
    <AppTopBar @menu-toggle="onMenuToggle" />

    <transition name="layout-sidebar">
      <div :class="sidebarClass" @click="onSidebarClick" v-show="isSidebarVisible()">
        <div class="layout-logo" style="font-size: 1.5em; font-weight: bold; color: #fff;">
          <inertia-link href="/" style="color: inherit;">
            Preload Tracking System
          </inertia-link>
        </div>

        <AppProfile />
        <AppMenu :model="menu" @menuitem-click="onMenuItemClick" />
      </div>
    </transition>

      <div class="layout-main">
        <slot />
      </div>
    <BlockUI :blocked="isGlobalLoadingVisible" class="global-block-ui" v-show="isGlobalLoadingVisible">
      <ProgressSpinner style="width:50px;height:50px" strokeWidth="3" fill="#EEEEEE" animationDuration=".5s"/>
    </BlockUI>

    <!-- <AppFooter /> -->

    <Dialog header="Confirmation" :visible.sync="isGlobalConfirmDialogVisible" :style="{width: '30em'}" :modal="true" @hide="onGlobalConfirmDialogClick(false)" position="top">
      {{ globalConfirmDialogMessage || 'Are you sure want to delete this item?' }}

      <template #footer>
        <Button label="No" @click="onGlobalConfirmDialogClick(false)" class="p-button-secondary"/>
        <Button label="Ya" icon="pi pi-check" @click="onGlobalConfirmDialogClick(true)" />
      </template>
    </Dialog>

    <Toast />
  </div>
</template>

<script>
import LayoutMixin from '@/Mixins/Layout'
import AppTopBar from './AppTopbar'
import AppProfile from './AppProfile'
import AppMenu from './AppMenu'
import AppFooter from './AppFooter'

export default {
  names: 'AppLayout',
  mixins: [ LayoutMixin ],
  mounted() {
    this.$nextTick(() => {
      this.showFlashMessages()
      this.setupConfirmDeleteDialog()
    })
  },
  data() {
    return {
      layoutMode: 'static',
      layoutColorMode: 'dark',
      staticMenuInactive: false,
      overlayMenuActive: false,
      mobileMenuActive: false,
      isGlobalConfirmDialogVisible: false,
      globalConfirmDialogMessage: null,
      isGlobalLoadingVisible: false,
      menuData: [
        { label: 'Dashboard', access: 'access.dashboard', icon: 'pi pi-fw pi-home', to: '/', class: { 'is-exact-active': ['dashboard'] } },
        { label: 'Report', access: 'access.dashboard', icon: 'pi pi-fw pi-home', to: '/report/summary', class: { 'is-exact-active': ['dashboard'] } },
        { label: 'Assignment', access: 'access.assignment', icon: 'pi pi-fw pi-list', to: '/assignment', class: { 'is-exact-active': ['assignment.*'] } },
        { label: 'Tools', access: 'access.tool', icon: 'pi pi-fw pi-tablet', to: '/tool', class: { 'is-exact-active': ['tool.*'] } },
        { label: 'Location', access: 'access.location', icon: 'pi pi-fw pi-compass', to: '/location', class: { 'is-exact-active': ['location.*'] } },
        { label: 'Dealer', access: 'access.dealer', icon: 'pi pi-fw pi-briefcase', to: '/dealer', class: { 'is-exact-active': ['dealer.*'] } },
        { label: 'Brand', access: 'access.brand', icon: 'pi pi-fw pi-mobile', to: '/brand', class: { 'is-exact-active': ['brand.*'] } },
        { label: 'Users', access: 'access.users', icon: 'pi pi-fw pi-user', to: '/users' },
      ]
    }
  },
  watch: {
    $route() {
      this.menuActive = false
      this.$toast.removeAllGroups()
      this.$nextTick(() => {
        this.showFlashMessages()
      })
    },
    '$page.flash': {
      deep: true,
      handler() {
        this.$nextTick(() => {
          this.showFlashMessages()
        })
      }
    },
    '$page.errors': {
      deep: true,
      handler() {
        this.$nextTick(() => {
          this.showErrorsMessages()
        })
      }
    },
  },
  methods: {
    onWrapperClick() {
      if (!this.menuClick) {
        this.overlayMenuActive = false
        this.mobileMenuActive = false
      }

      this.menuClick = false
    },
    onMenuToggle() {
      this.menuClick = true

      if (this.isDesktop()) {
        if (this.layoutMode === 'overlay') {
          this.overlayMenuActive = !this.overlayMenuActive
        } else if (this.layoutMode === 'static') {
          this.staticMenuInactive = !this.staticMenuInactive
        }
      } else {
        this.mobileMenuActive = !this.mobileMenuActive
      }

      event.preventDefault()
    },
    onSidebarClick() {
        this.menuClick = true
    },
    onMenuItemClick(event) {
      if (event.item && !event.item.items) {
        this.overlayMenuActive = false
        this.mobileMenuActive = false
      }
    },
    addClass(element, className) {
      if (element.classList) {
        element.classList.add(className)
      } else {
        element.className += ' ' + className
      }
    },
    removeClass(element, className) {
      if (element.classList) {
        element.classList.remove(className)
      } else {
        element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ')
      }
    },
    isDesktop() {
      return window.innerWidth > 1024
    },
    isSidebarVisible() {
      if (this.isDesktop()) {
        if (this.layoutMode === 'static') {
          return !this.staticMenuInactive
        } else if (this.layoutMode === 'overlay') {
          return this.overlayMenuActive
        } else {
          return true
        }
      } else {
        return true
      }
    },
    showFlashMessages() {
      this.$page.flash.success && this.$page.flash.success.message && this.$toast.add({
        severity: 'success',
        summary: this.$page.flash.success.title,
        detail: this.$page.flash.success.message,
        life: 3000
      })
      this.$page.flash.error && this.$page.flash.error.message && this.$toast.add({
        severity: 'error',
        summary: this.$page.flash.error.title,
        detail: this.$page.flash.error.message,
        life: 3000
      })
    },
    showErrorsMessages() {
      if (this.$page.errors && Object.keys(this.$page.errors).length) {
        for (const key in this.$page.errors) {
          this.$toast.add({
            severity: 'error',
            detail: this.$page.errors[key][0],
            life: 3000
          })
        }
      }
    },
    setupConfirmDeleteDialog() {
      window.Temadata.$on('global-confirm-delete:open', (message) => {
        this.isGlobalConfirmDialogVisible = true
        this.globalConfirmDialogMessage = message
      })
    },
    onGlobalConfirmDialogClick(confirmed) {
      if (this.isGlobalConfirmDialogVisible === false) {
        return
      }

      this.isGlobalConfirmDialogVisible = false
      this.globalConfirmDialogMessage = null

      window.Temadata.$emit('global-confirm-delete:close', confirmed)
    },
    showLoading() {
      this.isGlobalLoadingVisible = true
    },
    hideLoading() {
      this.isGlobalLoadingVisible = false
    }
  },
  computed: {
    containerClass() {
      return ['layout-wrapper', {
        'layout-overlay': this.layoutMode === 'overlay',
        'layout-static': this.layoutMode === 'static',
        'layout-static-sidebar-inactive': this.staticMenuInactive && this.layoutMode === 'static',
        'layout-overlay-sidebar-active': this.overlayMenuActive && this.layoutMode === 'overlay',
        'layout-mobile-sidebar-active': this.mobileMenuActive
      }]
    },
    sidebarClass() {
      return ['layout-sidebar', {
        'layout-sidebar-dark': this.layoutColorMode === 'dark',
        'layout-sidebar-light': this.layoutColorMode === 'light'
      }]
    },
    logo() {
      return (this.layoutColorMode === 'dark') ? '/img/logo-white.svg' : '/img/logo.svg'
    },
    menu() {
      const access = this.$page.menu_access

      return this.menuData.filter(v => {
        if (!v.access) {
          return true
        } else if (Array.isArray(v.access)) {
          return access.some(a => v.access.includes(a))
        } else {
          return access.includes(v.access)
        }
      })
    }
  },
  beforeUpdate() {
    if (this.mobileMenuActive) {
      this.addClass(document.body, 'body-overflow-hidden')
    } else {
      this.removeClass(document.body, 'body-overflow-hidden')
    }
  },
  components: {
    AppTopBar,
    AppProfile,
    AppMenu,
    AppFooter
  }
}
</script>

<style lang="scss">

</style>
