<template>
	<div class="layout-profile">
		<div>
			<img src="/img/profile.png" alt="user profile image" />
		</div>
		<button class="p-link layout-profile-link" @click="onClick">
			<span class="username">{{ $page.auth.user.display_name }}</span>
			<i class="pi pi-fw pi-cog"></i>
		</button>

    <transition name="layout-submenu-wrapper">
      <ul v-show="expanded">
<!--         <li><button class="p-link"><i class="pi pi-fw pi-user"></i><span>Account</span></button></li>
        <li><button class="p-link"><i class="pi pi-fw pi-inbox"></i><span>Notifications</span><span class="menuitem-badge">2</span></button></li> -->
        <li><button class="p-link" @click.prevent="onClickLogout"><i class="pi pi-fw pi-power-off"></i><span>Logout</span></button></li>
      </ul>
    </transition>
	</div>
</template>

<script>
	export default {
    props: {
      auth: Object
    },
		data() {
			return {
				expanded: false
			}
		},
		methods: {
			onClick(event){
				this.expanded = !this.expanded
				event.preventDefault()
			},
      async onClickLogout() {
        await this.$inertia.post(this.$route('logout'))

        window.location.reload()
      }
		}
	}
</script>

<style scoped>

</style>
