<template>
	<div class="layout-topbar">
		<button class="p-link layout-menu-button" @click="onMenuToggle">
			<span class="pi pi-bars"></span>
		</button>
		<div class="layout-topbar-icons">

      <button type="button" class="p-link" @click.prevent="onClickFullscreen">
        <span class="layout-topbar-item-text"></span>
        <span class="layout-topbar-icon pi" :class="`pi pi-window-${isFullscreen ? 'minimize' : 'maximize'}`"></span>
      </button>
      <button type="button" class="p-link" @click.prevent="isModalLogoutVisible = true">
        <span class="layout-topbar-item-text">Sign Out</span>
        <span class="layout-topbar-icon pi pi-sign-out"></span>
      </button>
		</div>

    <Dialog header="Keluar" :visible.sync="isModalLogoutVisible" :modal="true" position="top" :style="{width: '20vw'}">
      Are you sure want to exit application?

      <template #footer>
          <Button label="Cancel" class="p-button-secondary" @click="isModalLogoutVisible = false" />
          <Button label="Logout" icon="pi pi-check" @click="onClickLogout" />
      </template>
    </Dialog>
	</div>
</template>

<script>
const toggleFullscreen = () => {
  var element = document.body;

  if (event instanceof HTMLElement) {
    element = event;
  }

  var isFullscreen = document.webkitIsFullScreen || document.mozFullScreen || false;

  element.requestFullScreen = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || function () { return false; };
  document.cancelFullScreen = document.cancelFullScreen || document.webkitCancelFullScreen || document.mozCancelFullScreen || function () { return false; };

  isFullscreen ? document.cancelFullScreen() : element.requestFullScreen();

  return !isFullscreen
}

export default {
  data() {
    return {
      isModalMonitorVisible: false,
      isModalLogoutVisible: false,
      selectedMonitor: null,
      isFullscreen: this.getFullscreenState(),
    }
  },
  methods: {
    onMenuToggle(event) {
      this.$emit('menu-toggle', event)
    },
    async onClickLogout() {
      await this.$inertia.post(this.$route('logout'))

      window.location.reload()
    },
    getFullscreenState() {
      return document.webkitIsFullScreen || document.mozFullScreen || false
    },
    async onClickFullscreen(event) {
      this.isFullscreen = toggleFullscreen()
    }
  }
}
</script>
