<template>
  <div class="auth-layout layout-wrapper">
    <div class="layout-main">
      <slot />
    </div>

    <Toast />
  </div>
</template>

<script>
import LayoutMixin from '@/Mixins/Layout'

export default {
  name: 'AuthLayout',
  mixins: [ LayoutMixin ],
  watch: {
    $route() {
      this.menuActive = false
      this.$toast.removeAllGroups()
    },
    '$page.flash': {
      deep: true,
      handler() {
        this.$nextTick(() => {
          this.showFlashMessages()
        })
      }
    },
  },
  methods: {
    addClass(element, className) {
      if (element.classList) {
        element.classList.add(className)
      } else {
        element.className += ' ' + className
      }
    },
    removeClass(element, className) {
      if (element.classList) {
        element.classList.remove(className)
      } else {
        element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ')
      }
    },
    isDesktop() {
      return window.innerWidth > 1024
    },
    showFlashMessages() {
      this.$page.flash.success && this.$page.flash.success.message && this.$toast.add({
        severity: 'success',
        summary: this.$page.flash.success.title,
        detail: this.$page.flash.success.message,
        life: 3000
      })
      this.$page.flash.error && this.$page.flash.error.message && this.$toast.add({
        severity: 'error',
        summary: this.$page.flash.error.title,
        detail: this.$page.flash.error.message,
        life: 3000
      })
    },
  },
  beforeUpdate() {
    if (this.mobileMenuActive) {
      this.addClass(document.body, 'body-overflow-hidden')
    } else {
      this.removeClass(document.body, 'body-overflow-hidden')
    }
  }
}
</script>

<style lang="scss">

</style>
