.page-jadwal-dokter {
  .p-toolbar {
    > .p-toolbar-group-left {
      display: flex;
      align-items: center;
    }
  }

  .dokter-description {
    padding: 2em 2em 0;

    .nama {
      font-size: 1.65em;
      margin-bottom: 0;
      font-weight: bold;
    }
    .nip {
      margin: 0;
    }
  }

  .col-ruangan-dokter {
    display: flex;
    align-items: center;

    .p-autocomplete {
      width: 100%;
      display: flex;
    }

    .p-autocomplete-input {
      flex: 1;
    }
  }

  .grid-day {
    > [class^="p-col"] {
      > .card  {
        > .card-header {
          display: flex;
          align-items: center;
          width: 100%;
          margin-bottom: 1em;

          > .p-button {
            margin-left: auto;
          }
        }

        > .p-grid {
          > .jam-kerja-input-range {
            display: flex;
            align-items: center;
            border-radius: 3px;
            border: 1px solid #3196e4;
            background: #f3f3f3;

            .sep {
              margin-left: 5px;
              margin-right: 5px;
            }

            .p-button {
              margin-left: auto;
            }

            .p-calendar {
              .p-inputtext {
                max-width: 9.55em;
              }
              .p-hour-picker {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
