<template>
  <div class="page-auth-username">
    <h1 class="mb-2" style="font-size: 1.5em; font-weight: bold; margin-bottom: 1.5em;">Preload Tracking System</h1>
    <form @submit.prevent="onSubmit">
      <Panel header="Login" class="p-grid p-dir-col">
        <div class="p-col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <InputText placeholder="Username" v-model="form.username" autofocus autocapitalize="off" />
          </div>
        </div>

        <div class="p-col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <Password placeholder="Password" v-model="form.password" :feedback="false" />
          </div>
        </div>

        <div class="p-col-12 p-md-4">
          <Button type="submit" label="Login" />
        </div>
      </Panel>
    </form>
  </div>
</template>

<script>
import AuthLayout from '@/Shared/AuthLayout'

export default {
  metaInfo: { title: 'Login' },
  layout: AuthLayout,
  props: {
    errors: Object,
  },
  data() {
    return {
      isSubmitting: false,
      form: {
        username: '',
        password: '',
      },
    }
  },
  methods: {
    onSubmit() {
      this.isSubmitting = true

      this.$inertia.post(this.$route('login'), {
        username: this.form.username,
        password: this.form.password,
      }).then(() => this.isSubmitting = false)
    },
  },
}
</script>
